<template>
    <div class="row">
        <div class="input-field col s4">
            <select id="state_postal" class="browser-default" v-model="state_id">
                <option value="" disabled selected>Select State</option>
                <option v-for="state in states" :value="state.id" v-text="state.postal_code">
                </option>
            </select>
        </div>
    </div>
</template>
<script>
export default {
    /* 
    components: {

    },
    */
    computed: {

    },
    data() {
        return {
            states: [],
            /* form: new Form({ address_line_1: '', address_line_2: '', city_name: '', country_id: '', state_id: '', zip_code: '' }, false)
             */
        }
    },
    methods: {

        getAllStates() {

            axios.get('/api/getAllStates')
                .then(response => {
                    this.states = response.data;
                });
        }

    },

    mounted() {
        this.getAllStates();


    }
}
</script>
