<template>
    <div class="v-autocomplete">
        <div class="v-autocomplete-input-group" :class="{'v-autocomplete-selected': value}">
            <label for="id">{{text}}</label>
            <input :id="id" name="name" type="search" v-model="searchText" :placeholder="placeholder" :class="inputClass"
            :disabled="disabled" @blur="blur" @focus="focus" @input="inputChange">
        </div>
        <div class="v-autocomplete-list" v-if="showList && internalItems.length">
            <div class="v-autocomplete-list-item" v-for="item in internalItems" @click="onClickItem(item)">
                <div :is="componentItem" :item="item"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import Item from './Item.vue'
    import utils from './utils.js'
    export default {
        props: {
            text:String,
            name:'',
            id:'',
            componentItem: { default: () => Item },
            placeholder: String,
            minLen: { type: Number, default: utils.minLen },
            wait: { type: Number, default: utils.wait },
            value: null,
            getLabel: {
                type: Function,
                default: item => item
            },
            items: Array,
            autoSelectOneItem: { type: Boolean, default: true },
            inputClass: String,
            disabled: {
                type: Boolean,
                default: false
            },
            reset: {
                type: Boolean,
                default: false
            },
        },
        data () {
            return {
                searchText: '',
                showList: false,
                internalItems: this.items || []
            }
        },
        methods: {
            inputChange () {
                this.showList = true
                this.onSelectItem(null, 'inputChange')
                utils.callUpdateItems(this.searchText, this.updateItems)
                this.internalItems = utils.updateItemsList(this.searchText,this.items);
                this.$emit('change', this.searchText)
            },
            updateItems () {
                this.$emit('update-items', this.searchText)
            },
            focus () {
                this.showList = true
            },
            blur () {
                setTimeout( () => this.showList = false, 200)
            },
            onClickItem(item) {
                this.onSelectItem(item)
                this.$emit('item-clicked', item)
            },
            onSelectItem (item) {
                if (item) {
                    this.internalItems = [item]
                    this.searchText = this.getLabel(item)
                    this.$emit('selected-item', item)
                } else {
                    this.setItems(this.items)
                }
                this.$emit('input', item)
            },
            setItems (items) {
                this.internalItems = items || []
            },
            
        },
        created () {
            utils.minLen = this.minLen
            utils.wait = this.wait
            this.onSelectItem(this.value)
        },
        watch:{
            reset (newValue) {
              if (newValue) {
                this.searchText = '';
                this.reset = false;
            }
        }
    }
}
</script>

<style>
    .v-autocomplete {
        position: relative;
    }
    .v-autocomplete .v-autocomplete-list {
        position: absolute;
    }
    .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
        margin:2px;
        border: dotted green;
        cursor: pointer;
    }
</style>