<template>
    <div>
        <form action="post" method="" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
            <!--  <single-practice-wizard></single-practice-wizard> -->
            <div>
                <div class="row">
                    <div class="col l4 m12 s12">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <npi-number :form='form'></npi-number>
                                                <doctor-specialty :form='form'></doctor-specialty>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col  s12">
                                <div class="card" style=";margin-top:-15px">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <contact-information :form='form' :cols="'col l12 m12 s12'"></contact-information>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l8 m12 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <personal-information :form='form' :dob="dob" :cols="'col l4 m6 s12'"></personal-information>
                                        <single-facility :form='form'></single-facility>
                                        <address-comp :form='form'></address-comp>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn wave-effect right" style="margin-right:8px;">Save and Continue</button>
                    <router-link to="/" class="btn wave-effect right" style="margin-right:8px;">Back</router-link>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
/*import SinglePracticeWizard from '../../components/healthcareprovider/SinglePracticeWizard.vue';
 */

import NpiNumber from '../../components/healthcareprovider/NationalProviderIdentification.vue';
import SingleFacility from '../../components/healthcareprovider/SingleFacility.vue';
import AddressComp from '../../components/common/Address.vue';
import ContactInformation from '../../components/common/ContactInformation.vue';
import PersonalInformation from '../../components/common/PersonalInformation.vue';
import DoctorSpecialty from '../../components/common/DoctorSpecialty.vue';
export default {

    components: {
        /*SinglePracticeWizard,
         */
        NpiNumber,
        AddressComp,
        ContactInformation,
        PersonalInformation,
        DoctorSpecialty,
        SingleFacility
    },
    data() {
        return {
            dob: false,
            form: new Form({
                /* faclility name */
                facility_name: '',
                /* speciality id */
                specialty_id: '',
                /* address */
                address_line_1: '',
                address_line_2: '',
                city_name: '',
                country_id: '',
                state_id: '',
                zip_code: '',
                /* npi */
                npi: '',
                /* contact info */
                phone_number: '',
                fax_number: '',
                email: '',
                /* personal info */
                first_name: '',
                middle_name: '',
                last_name: '',
                psuedo_name: '',
                date_of_birth: '',
                gender: '',

            }, false),


        }
    },
    computed: {

    },
    methods: {

        onSubmit() {

            /*  this.form.address_line_1 = '233 street';
              this.form.address_line_2 = '';
              this.form.city_name = 'Staten Islan';
              this.form.country_id = '';
              this.form.state_id = '2';
              this.form.zip_code = '10134';
              //
              this.form.npi = this.getRandomNum(1, 1000000000) + '';
              //
              this.form.phone_number = '3214689556';
              this.form.fax_number = '3214689556';
              this.form.email = 'adnan@gmail.com';
              //
              this.form.first_name = 'Adnan';
              this.form.middle_name = 'J';
              this.form.last_name = 'Moghal';
              this.form.psuedo_name = 'adnan' + this.getRandomNum(1, 1000000000);
              this.form.date_of_birth = '';
              this.form.gender = 'male';
              this.form.facility_name = 'Clove land facility';
              //
              this.form.specialty_id = '11';*/


            console.log('form data  : ' + JSON.stringify(this.form.data()));

            this.form.post('/api/saveOrUpdateSPProfile')
                .then(response => {
                    Vue.toasted.show("profile saved");
                    window.location.href = '/' + response['redirectUrl'];
                    console.log('profile success : ' + JSON.stringify(response.data));
                })
                .catch(errors => {


                    console.log('profile error : ' + JSON.stringify(errors));
                });
        },
        getRandomNum(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        },



        hello() {
            //   alert('htest');
            //    this.form.npi = '1234';


        },


    },
    mounted() {
        this.hello();
    }
}
</script>
