<template>
    <div>
        



        <div class="row center-align">
            <h4>Choose Your Role</h4>
        </div>
        <div class="row ceneter-align">
           <div class="col l3 m6 s12" v-for="item in wizardRouted">


              <router-link :to="item.path" :exact="item.exact">
                <div class="card signup-card">
                    <div class="card-image">
                        <img :src= "item.image" style="height:200px;">

                    </div>
                    <div class="card-content">
                        <span class="card-title" style="color:#000;">{{item.name}}</span>
                        <p style="color:#000;">I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                      </div>

                  </div>


              </router-link>



          </div>
      </div>
  </div>
</template>
<script>
    export default {

        data: () => ({
            wizardRouted: [{
                path: '/singlepractice',
                name: 'Single Practice',
                showRoute: false,
                image :'/storage/images/common/dummy_avatar/single-practice.jpg',
                exact: false
            }, {
                path: '/medicalpractice',
                name: 'Medical Clinic',
                image:'/storage/images/common/dummy_avatar/medical-clinic.jpg',
                showRoute: false,
                exact: false
            } , {
                path: '/department',
                name: 'Department',
                showRoute: false,
                image:'/storage/images/common/dummy_avatar/deparment1.JPG',
                exact: false
            },{
                path: '/hospital',
                name: 'Hospital',
                showRoute: false,
                image:'/storage/images/common/dummy_avatar/hospital.jpg',
                exact: false
            } ],
            button_list: [],
            available_buttons: [{
                name: 'Add',
                key: 'add',
                class: 'btn green',
            }, {
                name: 'Edit',
                key: 'edit',
                class: 'btn',
            }, {
                name: 'Detail',
                key: 'detail',
                class: 'btn blue',
            }, {
                name: 'Delete',
                key: 'delete',
                class: 'btn red',
            }, ]
        }),
        computed: {

        },
        methods: {

            initializeRoutes() {
                if (window.AppointmentNotify.redirectUrl == '/') {
                    this.wizardRouted.forEach(function(element) {
                        console.log(element.path);


                        if (element.path != '/') {

                            element.showRoute = true;
                        }
                    });
                } else {

                    this.wizardRouted.forEach(function(element) {
                        if (element.path == '/') {
                            console.log(element.path);
                            element.showRoute = true;
                        }
                        if (element.path == window.AppointmentNotify.redirectUrl) {
                            console.log(element.path);
                            element.showRoute = true;
                        }

                    });

                }

            },
            addAction() {

            },


        },
        mounted() {
            this.initializeRoutes();
        }
    }
</script>
<style type="text/css">

    .signup-card:hover{
       -webkit-box-shadow: 0px 0px 70px -9px rgba(122,145,139,1);
       -moz-box-shadow: 0px 0px 70px -9px rgba(122,145,139,1);
       box-shadow: 0px 0px 70px -9px rgba(122,145,139,1);
   }
</style>