<template>
    <div>
        <form action="post" method="" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
            <!--  <single-practice-wizard></single-practice-wizard> -->
            <div>
                <div class="row">
                    <div class="col l4 m12 s12">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <provider-organization-name :form='form'></provider-organization-name>
                                                <npi-number :form='form'></npi-number>
                                                <employer-identification-number :form='form'></employer-identification-number>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l8 m12 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <contact-information :form='form' :cols="'col s4'"></contact-information>
                                        <contact-person :form='form' :cols="'col s12'"></contact-person>
                                        <address-comp :form='form'></address-comp>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn wave-effect right">Save and Continue</button>
            <router-link to="/" class="btn wave-effect right" style="margin-right:8px;">Back</router-link>Back</button>
        </form>
    </div>
</template>
<script>
/*import SinglePracticeWizard from '../../components/healthcareprovider/SinglePracticeWizard.vue';
 */

import NpiNumber from '../../components/healthcareprovider/NationalProviderIdentification.vue';
import EmployerIdentificationNumber from '../../components/healthcareprovider/EmployerIdentificationNumber.vue';
import ProviderOrganizationName from '../../components/healthcareprovider/ProviderOrganizationName.vue';
import AddressComp from '../../components/common/Address.vue';
import ContactInformation from '../../components/common/ContactInformation.vue';
import ContactPerson from '../../components/common/ContactPerson.vue';

export default {

    components: {
        EmployerIdentificationNumber,
        ProviderOrganizationName,
        NpiNumber,
        AddressComp,
        ContactInformation,
        ContactPerson
    },
    data() {
        return {
            form: new Form({

                /* address */
                address_line_1: '',
                address_line_2: '',
                city_name: '',
                country_id: '',
                state_id: '',
                zip_code: '',
                /* ein */
                ein: '',
                /* provider organization name */
                pon_name: '',
                /* contact info */
                npi: '',
                /* contact person */
                contact_person_name: '',
                /* contact info */
                phone_number: '',
                fax_number: '',
                email: '',


            }, false)
        }
    },
    computed: {

    },
    methods: {

        onSubmit() {

            /* this.form.address_line_1 = '233 street'; this.form.address_line_2 = ''; this.form.city_name = 'Staten Islan'; this.form.country_id = ''; this.form.state_id = '2'; this.form.zip_code = '10134'; this.form.npi = this.getRandomNum(1, 1000000) + ''; this.form.phone_number = '3214689556'; this.form.fax_number = '3214689556'; this.form.email = 'adnan@gmail.com'; this.form.contact_person_name = 'Adnan'; this.form.ein = this.getRandomNum(1, 1000000) + ''; this.form.pon_name = 'Islan kids peds ';
             */

            console.log('form data  : ' + JSON.stringify(this.form.data()));

            this.form.post('/api/saveOrUpdateHospitalProfile')
                .then(response => {
                    Vue.toasted.show("profile saved");
                    window.location.href = '/' + response['redirectUrl'];
                    console.log('profile success : ' + JSON.stringify(response));
                })
                .catch(errors => {

                    console.log('profile error : ' + JSON.stringify(response));
                });
        },
        getRandomNum(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        },
        addAction() {

        },
        hello() {

        }

    },
    mounted() {
        this.hello();
    }
}
</script>
