<template>
	<div>
		<ul class="collapsible" data-collapsible="accordion">
			<li v-for="(year, index) in appointmentTimeLineFinalList" >
				<div class="collapsible-header" @click="fetchAppointmentMonthsOfYear(year.year,index)">
					<span>{{year.year}}</span>
				</div>
				<div class="collapsible-body">
					
					<ul class="collapsible" data-collapsible="accordion">
						<li v-for="(month, index) in year.month" >
							<div class="collapsible-header" @click="loadAppointmentsOfMonthOfYear(month.year,month.month,index)">
								<span>{{month.month}}</span>
							</div>
							<div class="collapsible-body">
								<ul>
									<li v-for="(appointment, index) in month.appointments">
										<div style="border: dotted black; padding: 2px">
											<span>
												<b>Doctor:</b>
												{{appointment.doctor_name}} ({{appointment.specialty_name}})
											</span>
											<span>
												<b>Facility:</b>
												{{appointment.facility_name}}
											</span>
											<span>
												<b>Date/Time:</b>
												{{appointment.date|an_date}}  {{appointment.start_time|an_time}} 
											</span>
										</div>
										<br>
									</li>
								</ul>	
							</div>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</template>


<script >
	export default {
		data(){
			return{
				selectedYearIndex:'',
				selectedMonthIndex:'',
				appointmentTimeLineFinalList:[],
				appointmentTimeLineFinalListAppointments:[],

			}
		},
		methods :{
			fetchAppointmentYears()
			{

				axios.get('/api/yearListOfAppointments?perspective_slug='+Perspective_Slug)
				.then(response => {
					// this.appointmentYearList = response.data;
					// alert(JSON.stringify(response.data));
					this.makeTimeLineAppointmentYearFormat(response.data);
				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			makeTimeLineAppointmentYearFormat(data_array){
				for (var i = 0; i < data_array.length; i++) {
					this.appointmentTimeLineFinalList.push({'year': data_array[i].year ,'month': []});
				}
			},


			fetchAppointmentMonthsOfYear(year,index)
			{
				this.selectedYearIndex = index;

				axios.get('/api/yearMonthListOfAppointments/'+year+'?perspective_slug='+Perspective_Slug)
				.then(response => {
					this.makeTimeLineAppointmentYearMonthFormat(response.data,index);
					console.log('indexValue...' +index);
				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			makeTimeLineAppointmentYearMonthFormat(data_array,year_index)
			{	
				// this.appointmentTimeLineFinalList[year_index].month = data_array;
				
				this.appointmentTimeLineFinalList[year_index].month = [];
				for (var i = 0; i < data_array.length; i++) {
					this.appointmentTimeLineFinalList[year_index].month.push({'month': data_array[i].month,'year': data_array[i].year,'appointments':[]});
				}
			},

			loadAppointmentsOfMonthOfYear(year,month,index)
			{
				this.selectedMonthIndex = index;
				axios.get('/api/appointmentListOfMonthOfYear/'+ year + '/'+ month + '?perspective_slug='+Perspective_Slug)
				.then(response => {
					// this.appointmentTimeLineFinalListAppointments = response.data;
					this.makeTimeLineAppointmentYearMonthAppointmentFormat(this.selectedYearIndex,index,response.data);
				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
				// alert(index);
			},

			makeTimeLineAppointmentYearMonthAppointmentFormat(year_index,month_index,data_array)
			{
				this.appointmentTimeLineFinalList[year_index].month[month_index].appointments = data_array;

				// this.appointmentTimeLineFinalList[year_index].month[month_index].appointments = [];	

				// for (var i = 0; i < data_array.length; i++) {
				// 	this.appointmentTimeLineFinalList[year_index].month[month_index].appointments.push(data_array[i]);
				// }
			}

		},
		mounted (){
			this.fetchAppointmentYears();
		},
		computed: {
			// isActived: function () {
			// },
		},
		watch:{
			// appointmentTimeLineFinalListAppointments(newVal){
			// 	this.appointmentTimeLineFinalList[this.selectedYearIndex].month[this.selectedMonthIndex].appointments = newVal;
			// 	// alert("Heloooo");
			// }
		}
	}
</script>