<template>
	<div class="container">
		<button type="button" class="btn waves-effect waves-light" @click="toggle" :disabled="disabled">Test Button</button>
	</div>
</template>

<script>
	export default {
		data() {
			return {
					disabled: false
				}
			},
			methods: {
				toggle() {

					this.disabled= true;
					alert('vue component is working');
				}
			}
		}
	
</script>


