
<template>
    <div>
        <div v-for="avatar in dummy_avatars" >
            <div class="col l6 center user_img_div" @click.prevent="selectAvatar(avatar)">
                <img :src= "getAvatar(avatar.avatar)" width="100px" >
            </div>

        </div>

    </div>
</template>



<script>
    export default {
        props:['modalid'],
        data() {
            return {
             
                avatars:[],
                dummy_avatars:[],
                gender:''
            }
        },
        methods: {
            fetchDummyAvatars() {
                axios.get('/siteuser/getdummyavatars')
                .then(response => {
                    console.log(response.data);
                    this.avatars = response.data;
                    this.loadDummyAvatars();
                })
                .catch(errors => {
                    console.log(errors);
                });
            },

            loadDummyAvatars() {

                if (this.gender != 'other' && this.gender != "") 
                {   
                    this.dummy_avatars=[];
                    var index = 0;
                    for (var i = 0; i < this.avatars.length; i++) {
                        if (this.avatars[i].gender == this.gender) 
                        {
                            this.dummy_avatars[index] = this.avatars[i];
                            index++;        
                        }
                    }
                    this.getDefaultAvatar(this.gender);

                }  
                else if (this.gender == 'other') 
                {
                    var index = 0;
                    this.dummy_avatars=[];
                    for (var i = 0; i < this.avatars.length; i++) {
                        this.dummy_avatars[i] = this.avatars[i];
                        index++;
                    }
                    this.getDefaultAvatar('other');

                }
                else
                {   
                    var index = 0;
                    this.dummy_avatars=[];
                    for (var i = 0; i < this.avatars.length; i++) {
                        this.dummy_avatars[i] = this.avatars[i];
                        index++;
                    }
                    this.getDefaultAvatar('other');    
                }



            },

            getDefaultAvatar(gender){
                // alert(gender);

                for (var i = 0; i < this.avatars.length; i++) {
                    if (this.avatars[i].default==1 && this.avatars[i].gender == gender) 
                    {
                       /* this.$bus.$emit('selectedAvatar', this.avatars[i]);
*/  
                    }
                }
            },

            getAvatar(image) {
                return '/storage/'+image;
            },

            selectAvatar(dummy_avatar) {
                $('#'+this.modalid).modal('hide');
              //  this.$bus.$emit('selectedAvatar', dummy_avatar);
                console.log(dummy_avatar);
            }
        },

        mounted() {
            // alert(this.gender);
            this.fetchDummyAvatars();
            
           /* this.$bus.$on('selectedGender', eventData => {
                this.gender = eventData;
                this.loadDummyAvatars();    
            });*/
            
            console.log("Dummy Avatar")
        }
    }
</script>
