<template>
	<div class="container">
		<button type="button" class="btn waves-effect waves-light" :disabled="!disabled" >Test Button</button>
		<button type="button" class="btn waves-effect waves-light" @click="disabled = disabled">Enable / Disable</button>
		<hr/>
		<message>Salam World</message>
	</div>
</template>

<script>
	import Message from './secondBtn.vue';
	export default {
		components: {Message},
		data() {
			return {
				disabled: false
				}
			}
		}
	
</script>


