<script>

	export default {
		data:() => ({
			searchText:'',
			doctorList:[],
			doctorInfo:{doctorDetail:[{}]},
			conversationMessages:[],
			sender_user_id : window.AppointmentNotify.auth_user,
			activeDoctor:'',
			facilityInfo:'',
			loading: false,
			form:new Form({
				message_body:'',
				sender_id:'',
				reciever_id:'',
				sender_identifier:'',
				reciever_identifier:'',
			},false),
			
		}),
		methods: {
			fetchDoctorList:function(){
				axios.get('/api/getSiteUserProvidersConverstion?perspective_slug='+Perspective_Slug)
				.then(response => {
					console.log("doctorList");
					console.log(response.data);
					this.doctorList = response.data;
					this.seletedDoctor(this.doctorList[0].site_user_id,this.doctorList[0].doctor_id,this.doctorList[0].site_user_identifier,this.doctorList[0].doctor_identifier);

				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			seletedDoctor(site_user_id,doctor_id,site_user_identifier,doctor_identifier){
				this.form.sender_id = site_user_id;
				this.form.reciever_id = doctor_id;
				this.form.sender_identifier = site_user_identifier;
				this.form.reciever_identifier = doctor_identifier;
				this.getDetailOfSpecificDoctor(doctor_id);
			},

			getDetailOfSpecificDoctor(doctor_id){
				axios.get('/api/getsingledoctorinfobyid/'+ doctor_id +'?perspective_slug='+Perspective_Slug)
				.then(response => {
					this.doctorInfo = response.data;
					this.facilityInfo = response.data.doctorFacilityDetail;
					this.getConversationOfSpecificUser();
					console.log(response.data);
				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			getConversationOfSpecificUser(){

				axios.get('/api/conversationWithSpecificUser?perspective_slug='+Perspective_Slug + '&user1_id='+ this.form.sender_id + '&user2_id='+ this.form.reciever_id + '&user1_model='+ this.form.sender_identifier + '&user2_model='+ this.form.reciever_identifier)
				.then(response => {
					console.log("conversation");
					// alert(JSON.stringify(response.data));
					this.selectedConversation = response.data;
					this.conversationMessages = response.data.messages;
					this.scrollToBottom();
					console.log(response.data);
				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			doctorDetailModal()
			{
				$('#messaging_doctor_detail').modal('open');
			},

			onMessageSend(){
				this.loading = true;
				this.form.post('/api/saveSendMessage?perspective_slug='+Perspective_Slug)
				.then(response => {
					this.getConversationOfSpecificUser();
					this.form.message_body='';
					this.loading = false;
				})
				.catch(errors => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			scrollToBottom(){
				$("#chat-messages-ul").animate({
					scrollTop: $("#chat-messages-ul").get(0).scrollHeight
				},10);
			},

			handleEnter(e){
				if (e.keyCode == 13)
				{
					if (!e.shiftKey)
					{
						e.preventDefault();
						this.onMessageSend();
					}
				}
			},

			


		},



		mounted() {
			this.fetchDoctorList();
			var self = this;
			Socket.on('message-conversation',function(data){
				self.getConversationOfSpecificUser();
			});
		},
		computed: {
			filteredDoctorsList:function()
			{
				var self=this;
				return this.doctorList.filter(function(doc){return doc.full_name.toLowerCase().indexOf(self.searchText.toLowerCase())>=0;});
			}
		},
	}

</script>

<style lang="scss" scoped>
	
</style>
