<style>
    .btnDisplay
    {
        display: none;
    }
</style>


<script>
    export default {
        data() {
            return{
                siteUserNearestDoctors:'',
                allDoctorBySiteUserId:'',
                singleDoctorInfoById:'',
                singleDoctorFacilityInfoById: '',
                siteUserCircleDoctortitle:"",
                allDoctorTitle:"",
                allDoctorColumns: [
                { label: 'Id', field:'id' },
                { label: 'Image', field:'avatar' },
                { label: 'Name', field:'first_name' },
                { label: 'Speciality Name', field:'specialty_name' }
                ],
                allDoctorButtons: [
                {
                    key:"add",
                    class: 'btn-floating waves-effect waves-light'
                }
                ],
                allDoctorApi:'/api/providerdetail/',
                /*pagination and search code*/
                pagination: {
                    total: '',
                    per_page: 2,
                    from: '',
                    to: '',
                    current_page: '',
                    last_page:'',
                },
                distance:2,
                miles:[
                {value: 2, text: '2 miles'},
                {value: 5, text: '5 miles'},
                {value: 10, text: '10 miles'},
                {value: 15, text: '15 miles'},
                {value: 50, text: '50 miles'},
                {value: 100, text: '100 miles'}
                ],
                zipcode: '',
                searchDoctor: '',
                isDisabled: false,
                finalProviderlist: [],
                saveTempObject:'',
                add_provider_pagination: {
                    total: '',
                    per_page: '',
                    from: '',
                    to: '',
                    current_page: '',
                    last_page:'',
                },
                perPageOptions:[ 1, 2, 3, 5, 10, 25],
                offset: 40,
                allFacilities:[],
                searchText:''
            }
        },
        methods: {
            getDoctorName: function ()
            {
                console.log(this.searchDoctor);
                this.addProviderToCircle(1);
            },
            getZipCode: function()
            {
                console.log(this.zipcode);
                this.addProviderToCircle(1);
            },
            getDistance: function(e)
            {
                console.log(this.distance);
                this.add_provider_pagination.per_page = e.target.value;
                this.addProviderToCircle(1);
            },
            addProviderTablePagiantion: function(page)
            {
                this.add_provider_pagination.current_page = page;
                this.addProviderToCircle(page);
            },
            addProviderToCircle: function (page)
            {
                this.finalProviderlist=[];
                axios.get('/api/providerdetail/?page=' + page + '&searchDoctor=' + this.searchDoctor + '&distance=' + this.distance + '&zipcode=' + this.zipcode)
                .then(response=>{
                    console.log(response);
                    this.siteUserNearestDoctors = response.data.data;
                    this.add_provider_pagination.total = response.data.total;
                    this.add_provider_pagination.per_page = response.data.per_page;
                    this.add_provider_pagination.from = response.data.from;
                    this.add_provider_pagination.to = response.data.to;
                    this.add_provider_pagination.current_page = response.data.current_page;
                    this.add_provider_pagination.last_page = response.data.last_page;
                    this.makeProviderExistCheckList();
                });
                $('#addProviderModal').modal('open');
            },
            makeProviderExistCheckList: function ()
            {
                axios.get('/api/allsiteuserproviders')
                .then(response=>{
                    for (var i = 0; i < response.data.allDoctors.length; i++) {
                        var flag = false;
                        for (var j = 0; j < response.data.doctorBySiteUserId.length; j++)
                        {
                            if(response.data.allDoctors[i].unique_doctor_id == response.data.doctorBySiteUserId[j].id)
                            {
                                flag = true;
                                break;
                            }
                            else
                            {
                                flag = false;
                            }
                        }
                        if(flag)
                        {
                            this.finalProviderlist.push({
                                'doctor': response.data.allDoctors[i],
                                'status': true
                            });  
                        }
                        else
                        {
                            this.finalProviderlist.push({
                                'doctor': response.data.allDoctors[i],
                                'status': false
                            });
                        }
                    }
                });
            },
            getAllSiteUserProviderBySiteUserId:function(page){
                axios.get('/api/getallsiteuserprovidersbysiteuserid/?page=' + page+'&per_page=' + this.pagination.per_page +'&query=' + this.searchText)
                .then(response => {
                    console.log(response);
                    this.allDoctorBySiteUserId = response.data.data;
                    this.pagination.total = response.data.total;
                    this.pagination.per_page = response.data.per_page;
                    this.pagination.from = response.data.from;
                    this.pagination.to = response.data.to;
                    this.pagination.current_page = response.data.current_page;
                    this.pagination.last_page = response.data.last_page;
                    // alert(JSON.stringify(response.data));
                })
                .catch(error => {
                    console.log(error);
                });
            },
            onFacilityTableLength: function(e) {
                this.pagination.per_page = e.target.value;
                this.getAllSiteUserProviderBySiteUserId(1);    
            },
            searchFacilityTableQuery:function(){
                console.log(this.searchText);
                this.getAllSiteUserProviderBySiteUserId('1');
            },
            onFacilityTablePage: function (page) {
                this.pagination.current_page = page;
                this.getAllSiteUserProviderBySiteUserId(page);
            },
            addProvider: function (id,index) {
                // alert(JSON.stringify(this.siteUserNearestDoctors));
                axios.get('/api/getdoctorbyid/' + id )
                .then(response => {
                    console.log(response);
                    this.saveTempObject = this.finalProviderlist[index];
                    this.finalProviderlist[index] = [];
                    this.finalProviderlist[index].doctor = this.saveTempObject.doctor;
                    this.finalProviderlist[index].status = true;
                    this.finalProviderlist = Object.values(this.finalProviderlist[index]);

                    // finalProviderlist
                    window.location.reload();
                })
                .catch(error => {
                    console.log(error);
                });
            },
            singleDoctorInfo: function (id) {
                axios.get('/api/getsingledoctorinfobyid/' + id )
                .then(response => {
                    console.log(response);
                    this.singleDoctorInfoById = response.data.doctorDetail[0];
                    this.singleDoctorFacilityInfoById = response.data.doctorFacilityDetail;
                })
                .catch(error => {
                    console.log(error);
                });
            },

            deleteDoctor: function (id) {
                var self = this;
                swal({
                    title: "Are you sure?",
                    text: "Do you really want to remove this doctor from your circle!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, remove it!",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                },
                function(){
                    axios.get('/api/deletedoctorbyid/' + id )
                    .then(response => {
                        window.location.reload();
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                    Vue.toasted.show("Doctor removed from your circle successfully.");
                });
            },
            getFacilityTimeTable: function (id) {
                alert(id);
                axios.get('/api/getfacilitytimetable/' + id )
                .then(response => {
                    alert(JSON.stringify(response));
                    console.log(response);
                })
                .catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.getAllSiteUserProviderBySiteUserId(1);
        },
        computed: {

            isActived: function () {
                return this.pagination.current_page;
            },
            addProviderisActived: function () {
                return this.add_provider_pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                var pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                if (to <= 1) {
                    pagesArray=[];
                }
                return pagesArray;
            },
            addProviderpagesNumber: function () {
                if (!this.add_provider_pagination.to) {
                    return [];
                }
                var from = this.add_provider_pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if (to >= this.add_provider_pagination.last_page) {
                    to = this.add_provider_pagination.last_page;
                }
                var pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                if (to <= 1) {
                    pagesArray=[];
                }
                return pagesArray;
            }
        }
    }

</script>