<template>
	<form class="col s12" method="POST" action="">
		<div class="input-field col s12 m12">
      <select  class="browser-default" v-model="selected"  @change="onTableLength" @blur="onGetId">
        <option value=""  selected>Choose Doctor</option>
        <option v-for="(doctor, index) in doctors" :value="doctor.doctor_id">{{ doctor.first_name }}</option>
      </select>

    </div>
    <div class="input-field col s12 m12">
     <select class="browser-default" v-model="selected_facility" @change="onFacilityChange" @blur="onGetFacility">
      <option value="" >Choose Facility</option>
      <option  v-for="(facility, index) in facilities" :value="facility.health_care_facility_id" >{{ facility.facility_name }}</option>
    </select>

  </div>
  <div class="input-field col s12 m12">
    <select class="browser-default" v-model="shorTime" @change="timeChange" @blur="onGetTime">
      <option value="" disabled selected>Choose Duration</option>
      <option v-for="(time, index) in shortcalltime" :value="time" >{{time}}</option>
    </select>

  </div>

</form>
</template>
<script >



  export default {
    data () {
      return {
        doctors:'',
        facilities:'',
        selected:'',
        selected_facility:'',
        shortcalltime:'',
        shorTime:'',
      }
    },

    


    
    methods: {


      onTableLength: function(e) {
        
        alert(this.selected)
        axios.get('/api/getfacilitybydoctorid/' + this.selected)
        .then(response => {
      // JSON responses are automatically parsed.
      this.facilities = response.data
      // alert(JSON.stringify(this.facilities.facility_name))
    })
        .catch(e => {
          this.errors.push(e)
        })

      },
      onFacilityChange :function(e)
      {
       console.log("facility changed")
     },
     timeChange:function(e){
       console.log("time changed")
     },
     onGetId:function(){

      Event.$emit('sgetdoctorid',this.selected);

    },
    onGetFacility:function(){
      Event.$emit('sgetdoctorfacility',this.selected_facility);
    },
    onGetTime:function(){
      Event.$emit('sgetdoctortime',this.shorTime);
    }

  },


  created() {
    
    axios.get('/api/shortcalllistdoctor')
    .then(response => {

      this.doctors = response.data;
      Materialize.toast('I am a toast', 4000)

    })
    .catch(e => {
      this.errors.push(e)
    })

    axios.get('/api/shortcalltime')
    .then(response => {
      // JSON responses are automatically parsed.
      this.shortcalltime = response.data
     // alert(JSON.stringify(this.shortcalltime))
   })
    .catch(e => {
      this.errors.push(e)
    })
  }


  
}


</script>
//           users : [
//   {
//     "id": 1,
//     "name": "Leanne Graham",
//     "username": "Bret",
//     "email": "Sincere@april.biz",
//     "address": {
//       "street": "Kulas Light",
//       "suite": "Apt. 556",
//       "city": "Gwenborough",
//       "zipcode": "92998-3874",
//       "geo": {
//         "lat": "-37.3159",
//         "lng": "81.1496"
//       }
//     },
//     "phone": "1-770-736-8031 x56442",
//     "website": "hildegard.org",
//     "company": {
//       "name": "Romaguera-Crona",
//       "catchPhrase": "Multi-layered client-server neural-net",
//       "bs": "harness real-time e-markets"
//     }
//   },
//   {
//     "id": 2,
//     "name": "Ervin Howell",
//     "username": "Antonette",
//     "email": "Shanna@melissa.tv",
//     "address": {
//       "street": "Victor Plains",
//       "suite": "Suite 879",
//       "city": "Wisokyburgh",
//       "zipcode": "90566-7771",
//       "geo": {
//         "lat": "-43.9509",
//         "lng": "-34.4618"
//       }
//     },
//     "phone": "010-692-6593 x09125",
//     "website": "anastasia.net",
//     "company": {
//       "name": "Deckow-Crist",
//       "catchPhrase": "Proactive didactic contingency",
//       "bs": "synergize scalable supply-chains"
//     }
//   },
//   {
//     "id": 3,
//     "name": "Clementine Bauch",
//     "username": "Samantha",
//     "email": "Nathan@yesenia.net",
//     "address": {
//       "street": "Douglas Extension",
//       "suite": "Suite 847",
//       "city": "McKenziehaven",
//       "zipcode": "59590-4157",
//       "geo": {
//         "lat": "-68.6102",
//         "lng": "-47.0653"
//       }
//     },
//     "phone": "1-463-123-4447",
//     "website": "ramiro.info",
//     "company": {
//       "name": "Romaguera-Jacobson",
//       "catchPhrase": "Face to face bifurcated interface",
//       "bs": "e-enable strategic applications"
//     }
//   }
// ]
