<script type="text/javascript">
	// import MaterializeModal from '../common/MaterializeModal.vue';


	export default{
		// components: { MaterializeModal},
		data () {
			return {
				doctors:'',
				facilities:'',
				reasons:'',
				shortcalltime:'',
				appointment:'',

				selected:'',
				selected_facility:'',
				shorTime:'',
				selected_reason:'',
				time_from:'',
				time_to:'',
				
			}
		},
		computed: {
			isValidAppointment: function () {
				return this.selected != '' && this.selected_facility != ''
				&& this.selected_reason !='' && this.time_from != '' && this.time_from != ''
			},
			isValidShortCall :function () {
				return this.selected != '' && this.selected_facility != ''
				&& this.shorTime !=''
				
			}
		},
		methods: {
			onTableLength: function(e) {

				// alert(this.selected)
				axios.get('/api/getfacilitybydoctorid/' + this.selected)
				.then(response => {
      // JSON responses are automatically parsed.
      this.facilities = response.data
      
  })
				.catch(e => {
					this.errors.push(e)
				})

			},
			onFacilityChange :function(e)
			{
				console.log("facility changed")
			},
			timeChange:function(e){
				console.log("time changed")
			},

			SaveShortCall: function () {


				this.shortCall= {doctor:this.selected,
					facility:this.selected_facility,time:this.shorTime};
					
					axios.post('/api/saveshortcalllist',this.shortCall )
					.then(function(response){
						console.log('saved successfully')
					});  
					this.selected= '',
					this.selected_facility = '',
					this.shorTime = ''

				},
				saveAppointment :function () {
					
					console.log(this.$refs.myTestField.value);
					
					this.appointment ={doctor:this.selected,facility:this.selected_facility,reason:this.selected_reason,date:this.$refs.myTestField.value,startTime:this.time_from,endTime:this.time_to}
					alert(JSON.stringify(this.appointment))
					axios.post('/api/saveappointment',this.appointment)
					.then(function (response) {
						console.log('New appointment saved successfully')
					});
					this.selected= '',
					this.selected_facility = '',
					this.selected_reason = '',
					this.time_from = '',
					this.time_to ='',
					this.$refs.myTestField.value = ''
				},
				setTimeFieldData(data) {
					if (data.type == 'From') {
						this.time_from = data.value;
					} else {
						this.time_to = data.value;
					}
					
				},

				
			},

			created() {
				/*var $toastContent = $('<span >I am toast content <button class="btn">hello</button></span>').add($('<button class="btn-flat toast-action">Undo</button>'));
				Materialize.toast($toastContent, 10000,'rounded','toast_class');*/
				axios.get('/api/getappointmentreasons')
				.then(response => {
					this.reasons = response.data

				})
				.catch(e=> {
					this.errors.push(e)
				})

				axios.get('/api/shortcalllistdoctor')
				.then(response => {

					this.doctors = response.data

				})
				.catch(e => {
					this.errors.push(e)
				})

				axios.get('/api/shortcalltime')
				.then(response => {
      // JSON responses are automatically parsed.
      this.shortcalltime = response.data
     // alert(JSON.stringify(this.shortcalltime))
 })
				.catch(e => {
					this.errors.push(e)
				})
			}



		}
	</script>