<template>
	<div class="container">
		<div class="row main_container">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="middle_name" type="text" v-model="middle_name">
						<label for="middle_name">middle_name</label>
					</div>
				</div>
				<button type="button" class="btn waves-effect waves-light" @click='btnClick'>Validate Form</button>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				middle_name: ''
			}
		},
		methods: {
			btnClick() {
				alert('vue component is working');
			}
		}
	}
</script>






