<template>
  <div class="google-map" :id="mapName"></div>
</template>

<script>
  var CircularJSON = require('circular-json');
  export default {
    name: 'google-map',
    props: ['name','mapFacilities','mapDoctorId','facilityForAnimation','mapFacilityId'],
    data: function () {
      return {
        mapName: this.name + "-map",
        markers:[],
        bounds:'',
        map:'',
        animatedMarker: '',
        markerCoordinates: [],
        markerIconGreen : './images/common/marker-icon-green.png',
        markerIconBlue : './images/common/marker-icon-blue.png'
      }
    },
    methods: {
      initializeMap(){
        var element = document.getElementById(this.mapName)
        var options = {
          zoom: 10,
          center: new google.maps.LatLng(40.635792, -74.105962),
          mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        this.map = new google.maps.Map(element, options);
        this.fetchFacilityLatLang();
      },
      fetchFacilityLatLang: function ()
      {
        this.markerCoordinates = [];
        for (var i = 0; i < this.mapFacilities.length; i++) {
          this.markerCoordinates.push({
            facility_id: this.mapFacilities[i].facility_id,
            facility_name: this.mapFacilities[i].facility_name,
            zip_code: this.mapFacilities[i].zip_code,
            address_line_1: this.mapFacilities[i].address_line_1,
            address_line_2: this.mapFacilities[i].address_line_2,
            city_name: this.mapFacilities[i].city_name,
            postal_code: this.mapFacilities[i].postal_code,
            latitude: parseFloat(this.mapFacilities[i].facility_lat),
            longitude: parseFloat(this.mapFacilities[i].facility_lng)
          });
        }
        this.showMarkersOnMap(this.markerCoordinates);
      },
      showMarkersOnMap :  function (facility_marker_list)
      {
        // this.bounds = new google.maps.LatLngBounds();
        this.clearMarkersFromMap();
        for (var i = 0; i < facility_marker_list.length; i++) {
          var markerPoint = new google.maps.LatLng(facility_marker_list[i].latitude,facility_marker_list[i].longitude);
        // this.bounds.extend(markerPoint);
        this.addMarkerWithTimeout(markerPoint, facility_marker_list, i);
      }
    },
    addMarkerWithTimeout: function (markerPoint, facility_marker_list, index)
    {
      var marker = new google.maps.Marker({
        position: markerPoint,
        map: this.map,
        // icon: this.markerIconBlue,
        animation: google.maps.Animation.DROP,
      });
      this.markers.push(marker);
      var infowindow = new google.maps.InfoWindow();
      var data = "<div > <label>Facility Name: </label> <br/> <span>" + facility_marker_list[index].facility_name + "</span> <br/> <label>Address: </label><br/> <span>" + facility_marker_list[index].address_line_1 + " " + facility_marker_list[index].address_line_2 + "<br/>" + facility_marker_list[index].city_name + " " + facility_marker_list[index].postal_code + "," + facility_marker_list[index].zip_code + "</span> </div>";
      this.bindInfoWindow(marker, this.map, infowindow, data);
      // this.map.fitBounds(bounds);
    },
    bindInfoWindow : function(marker, map, infowindow, html) { 
      google.maps.event.addListener(marker, 'mouseover', function() { 
        infowindow.setContent(html); 
        infowindow.open(map, marker);
        // $("#testDiv").css("background-color","yellow");
      });
      google.maps.event.addListener(marker, 'mouseout', function() { 
        infowindow.setContent(null); 
        infowindow.open(null);  
      }); 
    },
    clearMarkersFromMap : function()
    {
      for (var i = 0; i < this.markers.length; i++) {
        this.markers[i].setMap(null);
      }
      this.markers = [];
    },
    startMarkerAnimation: function ()
    {
      for (var i = 0; i < this.facilityForAnimation.length; i++) {
        for (var j = 0; j < this.markerCoordinates.length; j++) {
          if (this.markerCoordinates[j].facility_id == this.facilityForAnimation[i].facility_id)
          {
            this.markers[j].setIcon(this.markerIconGreen);
          }
        }
      }
    },
    stopAnimation: function ()
    {
      for (var i = 0; i < this.facilityForAnimation.length; i++) {
        for (var j = 0; j < this.markerCoordinates.length; j++) {
          if (this.markerCoordinates[j].facility_id == this.facilityForAnimation[i].facility_id)
          {
            this.markers[j].setIcon(null);
          }
        }
      }
    },
    startFacilityMarkerAnimation: function (facility_id)
    {
      for (var i = 0; i < this.markerCoordinates.length; i++) {
        if(this.markerCoordinates[i].facility_id == facility_id)
        {
          this.markers[i].setIcon(this.markerIconGreen);
        }
      }
    },
    stopFacilityViewAnimation: function(facility_id)
    {
      for (var i = 0; i < this.markerCoordinates.length; i++) {
        this.markers[i].setIcon(null);
      }
    }
  },

  mounted: function () {
    this.initializeMap();
  },
  watch:{
    mapFacilities(newVal)
    {
      this.mapFacilities=newVal;
      this.initializeMap();
    },
    mapDoctorId(newVal)
    {
      this.mapDoctorId=newVal;
      if (this.mapDoctorId=='')
      {
        this.stopAnimation();
      }
      else
      {
        this.startMarkerAnimation();
      }
    },
    mapFacilityId(newVal)
    {
      this.mapFacilityId=newVal;
      if (this.mapFacilityId=='')
      {
        this.stopFacilityViewAnimation(this.mapFacilityId);
      }
      else
      {
        this.startFacilityMarkerAnimation(this.mapFacilityId);
      }
    }
  }
};
</script>


<style scoped>
  .google-map {
    height: 500px;
    margin: 15px 0px 0px 0px;
  }
  .dic_class
  {
    display: none;
  }

</style>




