<template>
	<div>
		<span>{{ suggestion.country_name }}  {{suggestion.area_code}}</span>
	</div>
</template>

<script>
	export default {
		props: { suggestion: { required: true } }
	}
</script>

<style>

</style>