<template>
	<div class="suggestion">
		<span>{{ suggestion.facility_name }}</span>
	</div>
</template>

<script>
	export default {
		props: { suggestion: { required: true } }
	}
</script>

<style>
	
</style>