
<template>
	<div>
		<span>{{ suggestion.state_name }}  {{suggestion.postal_code}}</span>
	</div>
</template>

<script>
	export default {
		props: { suggestion: { required: true } }
	}
</script>







<style>

</style>