<template>
    <div>
        <div class="input-field col s12">
            <input id="ein" type="text" class="validate" name="ein" v-model='form.ein'>
            <label for="ein">Employer Identification Number
                <span class="help " v-if="form.errors.has('ein')" v-text="form.errors.get('ein')"> </span>
            </label>
            
        </div>
    </div>
</template>
<script>
    export default {
        props: ['form'],
        components: {

        },
        computed: {

        },
        data() {
            return {


            }
        },
        methods: {
            abc() {

            },


        },

        mounted() {

            this.abc();

        }
    }
</script>
