<template>
	<div>
		<div class="row">
			<div class="col l4 m12 s12">
				<div class="row">
					<div class="col s12 m12">
						<div class="card">
							<div class="card-content">
								<div class="row">
									<div class="input-field col s12">
										<input  id="m_d_w_ein" type="text" >
										<label for="m_d_w_ein">Employee Identification Number</label>
									</div>
									<div class="input-field col s12">
										<input  id="m_d_w_pon" type="text" >
										<label for="m_d_w_pon">Provider Organization Number</label>
									</div>
									<div class="input-field col s12">
										<input  id="m_d_w_poname" type="text" >
										<label for="m_d_w_poname">Provider Organization Name</label>
									</div>
									<div class="input-field col s12">
										<input  id="m_d_w_contact_person" type="text" >
										<label for="m_d_w_contact_person">Contact Person Name</label>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l8 m12  s12">
				<div class="row">
					<div class="col s12 m12">
						<div class="row">
							<div class="col s12 m12">
								<div class="card">
									<div class="card-content">
										<div class="row">
											<div class="input-field col s4">
												<input  id="m_d_w_contact" type="text" >
												<label for="m_d_w_contact">Contact</label>
											</div>
											<div class="input-field col s4">
												<input  id="m_d_w_fax" type="text" >
												<label for="m_d_w_fax">Fax</label>
											</div>
											<div class="input-field col s4">
												<input  id="m_d_w_email" type="text" >
												<label for="m_d_w_email">Email</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12">
								<div class="card">
									<div class="card-content">
										<div class="row">
											<div class="input-field col s12">
												<input id="m_p_w_address_line_1" type="text" >
												<label for="m_p_w_address_line_1" >Line 1</label>
											</div>
											<div class="input-field col s12">
												<input id="m_p_w_address_line_2" type="text" >
												<label for="m_p_w_address_line_2" >Line 2</label>
											</div>
											<div class="input-field col s4">
												<input id="m_p_w_city" type="text" >
												<label for="m_p_w_city" >City</label>
											</div>
											<div class="input-field col s4">
												<select class="browser-default">
													<option value="" disabled selected>Choose your option</option>
													<option value="1">Option 1</option>
													<option value="2">Option 2</option>
													<option value="3">Option 3</option>
												</select>
												
											</div>
											<div class="input-field col s4">
												<input id="m_p_w_zip" type="text" >
												<label for="m_p_w_zip" >Zip</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn waves-effect waves-light right"><i class="mdi-content-send right"></i>Save</button>
		</div>
	</div>
</template>
<script>
	export default {
		data () {
			return {
				medicalPracticeWizardForm: new Form({
					employee_identification_number:'',
					provider_organization_number:'',
					provider_organization_name:'',
					contact_person_name:'',
					phone_number:'',
					fax_number:'',
					email:''


				},false)
			}
		},
		computed: {

		},
		methods: {

		},

		created() {

		},
	}

	

</script>




























