<template>
    <div>
        <div class="input-field col s12">
            <input id="npi" type="text" class="validate" name="npi" v-model='form.npi'>
            <label for="npi">National Provider Identification Number
                <span class="help" v-if="form.errors.has('npi')" >({{form.errors.get('npi')}})
                </span>
            </label>
            
        </div>
    </div>
</template>
<script>
    export default {
        props: ['form'],
        components: {

        },
        computed: {

        },
        data() {
            return {


            }
        },
        methods: {
            abc() {

            },


        },

        mounted() {

            this.abc();

        }
    }
</script>
