<template>
    <div>
        <div class="input-field col s12">
            <input id="pon_number" type="text" class="validate" name="pon_number" v-model='form.pon_number'>
            <label for="pon_number">National Provider Identification Number</label>
            <span class="help red" v-if="form.errors.has('pon_number')" v-text="form.errors.get('pon_number')"> </span>
        </div>
    </div>
</template>
<script>
export default {
    props: ['form'],
    components: {

    },
    computed: {

    },
    data() {
        return {


        }
    },
    methods: {
        abc() {

        },


    },

    mounted() {

        this.abc();

    }
}
</script>
