<template>
    <div>
        <div class="input-field col s12">
            <input id="pon_name" type="text" class="validate" name="pon_name" v-model='form.pon_name'>
            <label for="pon_name">Provider Organization Name
                <span class="help" v-if="form.errors.has('pon_name')" v-text="form.errors.get('pon_name')"> </span>
            </label>
            
        </div>
    </div>
</template>
<script>
    export default {
        props: ['form'],
        components: {

        },
        computed: {

        },
        data() {
            return {


            }
        },
        methods: {
            abc() {

            },


        },

        mounted() {

            this.abc();

        }
    }
</script>
