<template>
    <div class="row">

        <div class="input-field col s12">
            <i class="material-icons prefix">store</i>
            <input id="facility_name" type="text" class="validate" name="facility_name" v-model='form.facility_name'>
            <label for="facility_name">Facility Name
                <span class="help" v-if="form.errors.has('facility_name')" v-text="form.errors.get('facility_name')">
                </span>

            </label>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['form'],
        components: {

        },
        computed: {

        },
        data() {
            return {


            }
        },
        methods: {
            abc() {

            },


        },

        mounted() {

            this.abc();

        }
    }
</script>
