<template>
    <div class="row">
        <div class="col s8">
            <table>
                <thead>
                    <tr>
                        <th>Sr #</th>
                        <th>Facility Name</th>
                        <th>Zip Code</th>
                        <th>Action</th>            
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="facility,index in facilityAttached"  :class="{selected_facility: facility === activeFacility}">
                        <td >{{index | serial}}</td>
                        <td v-text="facility.facility.facility_name"></td>
                        <td v-text="facility.facility.zip_code"></td>
                        <td>
                            <input type="checkbox" name="checkedBox[]" :checked="checkBoxStatus(index)" :id="facility.facility.facility_id + '_staff_day_time'" @change = "toggleCheckbox(index,$event)"/>
                            <label :for="facility.facility.facility_id + '_staff_day_time'"></label>
                            <button v-if="facility.selected" class="btn-floating waves-effect waves-light tooltipped" data-position="top" data-delay="10" data-tooltip="click here to add facility timing."  @click.prevent="loadTimeTableOfStaff(index)"><i class="large material-icons" @click="activeFacility = facility">access_time</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col s4" v-if="showTimeTable">
            <time-table :time-table = "timeTable">
            </time-table>
        </div>


    </div>
</template>
<script>
    export default {
        props: [
        'facilityAttached',
        ],
        data:() => ({
            timeTable:{data:[]},
            showTimeTable:{type:Boolean,default:false},
            activeFacility:'',
        }),
        computed: {           

        },
        methods: {
            checkBoxStatus(index) {
                return this.facilityAttached[index].selected;
            },
            toggleCheckbox(index,event) {
                this.facilityAttached[index].selected = event.target.checked;
            },

            loadTimeTableOfStaff(index)
            {
                this.timeTable.data = this.facilityAttached[index].timeTable;
                this.showTimeTable = true;
                
            }
        },
        mounted() {
            console.log(this.facilityAttached);
            Event.$on('reset-time-table', eventData => {
                this.timeTable = {'data':[]};
            });
        },

    }
</script>
