<template>
    <div>
        <button v-for="button in button_list" :class="button.class" @click.prevent="eventTrigger(button.key)">{{button.name}}</button>
    </div>
</template>
<script>
    export default {
        props: {
            data:'',
            buttons:'',
        },
        data:() => ({
            button_list:[],
            available_buttons:[
            {
                name: 'Add',
                key: 'add',
                class: 'btn green',
            },
            {
                name: 'Edit',
                key: 'edit',
                class: 'btn',
            },
            {
                name: 'Detail',
                key: 'detail',
                class: 'btn blue',
            },
            {
                name: 'Delete',
                key: 'delete',
                class: 'btn red',  
            },
            ]
        }),
        computed: {           

        },
        methods: {

            eventTrigger: function(key)
            {
                switch (key) {
                    case "add":
                    this.addAction();
                    break;

                    case "edit":
                    this.editAction();
                    break;

                    case "detail":
                    this.detailAction();
                    break;

                    case "delete":
                    this.deleteAction();
                    break;

                    default:
                    console.log('No Event');
                    break;
                }
            },

            addAction: function () {
                this.$emit('add',this.data);
            },

            editAction: function () {
                this.$emit('edit',this.data);
            },

            detailAction: function () {
                this.$emit('detail',this.data);
            },

            deleteAction: function () {
                this.$emit('delete',this.data);
            },

            initializeButtons: function() {
                for (var i = 0; i < this.buttons.length; i++) {
                    for (var j = 0; j < this.available_buttons.length; j++) {
                        if(this.buttons[i].key == this.available_buttons[j].key)
                            {   if ('class' in this.buttons[i]) {
                                this.available_buttons[j].class = this.buttons[i].class;
                            }
                            this.button_list.push(this.available_buttons[j]);
                        }
                    }
                } 
            }

        },
        mounted() {
            this.initializeButtons();
        }
    }
</script>