<template>
    <div>
        <slot name="list_data">
        </slot>
    </div>
</template>
<script>
    export default {

        methods:{
            initializeView(){
                var listItems = $(".list-item");
                for(var i = 0; i < listItems.length; i ++){
                    var offsetAngle = 360 / listItems.length;
                    var rotateAngle = offsetAngle * i;
                    $(listItems[i]).css("transform", "rotate(" + rotateAngle + "deg) translate(0, -150px) rotate(-" + rotateAngle + "deg)");
                }
            },
        },
        mounted() {
            this.initializeView();
        }
    }
</script>

<style>
    #list{
        border: 1px solid #00bd86 !important;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        position: relative;
        margin-left: 15%;
    }

    .list-item
    {
        border-radius: 50%;
        list-style: none;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 42%;
        left: 42%;
    }
    .list-item img
    {
        transition: all 0.5s;
    }

    #list .list-item:hover,
    #list .list-item:hover img
    {
        transform: scale(2);
        border: solid #00bd86 1px;
        z-index: 100;
       /* height: 30px;
       width: 30px;*/
   }
</style>