<template>

	<div class="card-panel blue lighten-1 help-card-panel " >
		<span class="white-text">
			<slot></slot>
		</span>
	</div>
</template>
<script>
	export default {

	}

</script>
<style type="text/css">
	.help-card-panel{
		padding:5px !important;
		margin:0px !important;
	}
</style>