<template>
    <div>
        <div class="input-field" :class="cols" >
            <i class="material-icons prefix">stay_primary_portrait</i>
            <input id="contact_person_name" type="text" class="validate" name="contact_person_name" v-model='form.contact_person_name'>
            <label for="contact_person_name">Contact Person
                <span class="help " v-if="form.errors.has('contact_person_name')" v-text="form.errors.get('contact_person_name')"> </span>
            </label>
            
        </div>

    </div>
</template>
<script>
    export default {
        props: ['form','cols'],
        components: {

        },
        computed: {

        },
        data() {
            return {


            }
        },
        methods: {
            abc() {

            },


        },

        mounted() {

            this.abc();

        }
    }
</script>
