<template>
    <div>
        <label for="id">{{text}} :</label>
        <input :id="id" type="text" v-model="model" placeholder="Pick a date">
    </div>
</template>
<script>
    export default {
        props: {
            id:'',
            text:'',
            index:'',
            model:'',
        },
        data:() => ({
            dataField:this.model,
        }),
        methods:{
            initializeDatePicker() {
                var self = this;

                $('#'+this.id).pickadate({
                    format: 'mmmm dd, yyyy',
                    selectMonths: true,
                    selectYears: 15,
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    closeOnSelect: true, 
                }).on('change', function() {
                    var date = $(this).val();
                    self.dataField = date;
                    var data = {'index':self.index,'type':self.text,'value':date};
                    self.$emit('datepicked',data);
                });      
            },
        },
        mounted() {
            this.initializeDatePicker();
            Event.$on('reset_field', eventData => {
                $('#'+this.id).val("");
            });
        }

    }
</script>