<template>
    <div>
        <select id="sp_id" class="browser-default" v-model="form.specialty_id">
            <option value="" disabled selected>Choose Specialty</option>
            <option v-for="specialty in specialties" :value="specialty.id" v-text="specialty.specialty_name">
            </option>
        </select>
        <span class="help text-red" v-if="form.errors.has('specialty_id')" v-text="form.errors.get('specialty_id')"></span>
    </div>
</template>
<script>
    export default {
        props: ['form'],
        components: {

        },
        computed: {

        },
        data() {
            return {
                specialties: [],

            }
        },
        methods: {

            getAllSpecialties() {

                axios.get('/api/allSpecialties')
                .then(response => {
                    this.specialties = response.data;
                });
            }

        },

        mounted() {
            this.getAllSpecialties();
        }
    }
</script>
