
<template> 
	
	<li class="tab main_tabs_li"   ><a target="_self" class="white-text text-darken-2 z-depth-2" :class="{ 'active': classes }" :href="url"><slot></slot></a></li>
	
</template> 


<script>
	export default {

		props :['url','classes' ] 
	}
</script>
