<template> 
	<div>
		
		<ul class="tabs tabs-transparent main_tabs_ul center"> 
			<feature :classes="activeTab(index)" :url="feature.url" v-for="(feature,  index) in features"  :key="feature.name">{{feature.name}}
			</feature>
		</ul>
	</div>
</template> 


<script>
	import feature from './Feature.vue';
	export default {
		components:{feature },
		props:['features'], 
		methods: { 
			activeTab(index){ 
				if(this.features[index].url == window.location.pathname )
				{ 
					return true;
				}
				else{

					return false;
				}  
			}, 
		},

	}
</script>
