<template>
	<div class="row">
		<article>
			<p>
				<slot name="visible_text">
					<!-- visible paragraph will be placed here -->
				</slot>
				<a class="read-more-show hide" href="#" id="help_text_id">Read More</a>
				<span class="read-more-content">
						<slot name="hidden_text">
							<!-- hidden paragraph will be placed here -->
						</slot>
					<a class="read-more-hide hide" href="#" more-id="help_text_id">Read Less</a>
				</span>
			</p>
		</article> 
	</div>
</template>

<script>
	export default {
		methods: {
			
		}
	}

</script>