<template>
    <div>
        <img :src= "getAvatar(image)" :class="imgClass">
    </div>
</template>
<script>
    export default {
        props:{
            imgClass:'',
            divClass:'',
            targetId:'',
            targetModel:'',
        },
        data:() => ({
            image:'',
            url:'/api/getAvatar',
        }),

        methods:{

            getAvatar(image) {
                return ImagePath + image;
            },

            fetchFacilityImage()
            {
                axios.get(this.url +"?modelId="+ this.targetId +"&model="+this.targetModel)
                .then(response => {
                    this.image = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            }
        },
        mounted(){
            this.fetchFacilityImage();
        },
        watch:{
            targetId(newVal){
                this.targetId=newVal;
                this.fetchFacilityImage();
            }
        }
    }
</script>

<style>

</style>