<template>
    <div>
        <input id="icon_prefix3" type="text" v-model="model" name="name" :autofocus="focused">
        <label for="icon_prefix3">{{stringConvert()}}</label>
    </div>
</template>
<script>
    export default {
        props: {
            name:'',
            model:'',
        },
        data:() => ({
        }),
        computed: {           

        },
        methods: {

            focused() {
                console.log(this.model);
                // if () {} else {}
                    // return true;
                },

                stringConvert() {
                    return this.name.split('_').map(function (item) {
                        return item.charAt(0).toUpperCase() + item.substring(1);
                    }).join(' ');
                },
            },
            mounted: function() {
                this.focused();
            },
        }
    </script>