<template>
	<div class="row materialize_modal_header" style="margin-bottom: 0px;">
		<div class="col s11 center">
			<div class="col s1">
				<slot name="header-image">
				</slot>
			</div>
			<div class="col s11">
				<h5>
					<slot name="header-title">
					</slot>
				</h5>
				<h6>
					<slot name="header-speciality-name">
					</slot>
				</h6>
			</div>
		</div>
		<div class="col s1">
			<a class="right modal-action modal-close waves-effect waves-light" style="margin-right: 1%;">
				<span class="material-icons">highlight_off</span>
			</a>
		</div>
	</div>

</template>
<script>
	export default {

	}
</script>