<template>
	<div :id="modalId" class="modal materialize_modal ">
		<slot name="modal-header"> </slot>

		<div class="modal-content">
			<div class="row materialize_modal_body">
				<div class="col s12">
					<slot name="modal-body">

					</slot>
				</div>
			</div>
		</div>
		<div class="row modal-footer-row">
			<div class="col s12">
				<div class="modal-footer">
					<slot name="modal-footer">
					</slot>
					
					<a href="#!" class="modal-action modal-close waves-effect waves-light btn">Close</a>

				</div>
			</div>
		</div>
	</div>

</template>

<script>
	export default {
		props:{
			id:""
		},
		data() {
			return {
				modalId:this.id
			}
		},

	}



</script>
