<template>
	<div class="modal fade " tabindex="-1" role="dialog" :id="modalId" :class="modalClass">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						<slot name="header"></slot>
					</h4>
				</div>
				<div class="modal-body">
					<slot name="body"></slot>
				</div>
				<div class="modal-footer">
					<slot name="footer"></slot>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</template>

<script>
	export default {
		props:['id','class'],
		data() {
			return {
				modalId:this.id,
				modalClass:this.class

			}
		},
		
	}
</script>