<template>
	<div id="notification_modal" class="modal modal-fixed-footer">
		<div class="modal-footer notification_modal_header" >
			<div class="nav-content feature_header" >
				<ul class="tabs tabs-transparent main_tabs_ul " style="background-color: #FAFAFA !important; ">
					<li class="tab main_tabs_li " style="margin-left:35%;">
						<a  class="active z-depth-2 " href="#notification_tab">Notifications</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="modal-content notification_modal_content" >
			<div class="row">
				<div class="col s12" id="notification_tab">
					<ul class="collection" style="border:none">
						<li v-for="(notification,index) in notificationsData" :class="classes(notification)" class="collection-item avatar valign-wrapper" style="width:100%; border-bottom:2px solid #00bd86;" >
							<image-view :target-id="notification.data.sender" :target-model="'4'" :img-class="'table_image circle notification_img'"
							></image-view>
							<p style="width:80%;">
								{{notification.data.data.notification_message}}
								<br>
								{{notification.created_at | time_ago}}
							</p>
							<!-- <div v-if="notification.read_at">
								<a href="#!" class="right tooltipped"  data-position="top" data-delay="10" data-tooltip="Mark as Read"><i class="material-icons " style="color:black"  @click.prevent="toggle(notification.id,index)">fiber_manual_record</i></a>
							</div> -->
							<!-- <div v-if="!notification.read_at"> -->
							<span href="#!" class=" tooltipped right"  data-position="top" data-delay="10" v-bind:data-tooltip="tooltip"><a class="material-icons right" style="color:black;width:10%"  @click.prevent="toggle(notification.id,index)">fiber_manual_record</a></span>
							<!-- </div> -->
							
						</li>
						
					</ul>

				</div>
			</div>

		</div>
		<div class="modal-footer " style="height:70px !important;" >
			<a href="#!" class="modal-action modal-close waves-effect waves-light btn" >Close</a>
		</div>
	</div>

</template>

<script>
	export default {
		data() {
			return {
				notificationsData: [],
				tooltip:'Mark as read.',
			}
		},
		methods:{


			toggle(notification_id,index) {

				if(this.notificationsData[index].read_at){

					this.markAsUnRead(notification_id,index);
				}else{

					this.markAsRead(notification_id,index);	
				} 
			},

			markAsRead(notification_id,index){
				axios.get('/api/markNotificationAsRead/'+ notification_id +'?perspective_slug='+Perspective_Slug)
				.then(response => {


					Event.$emit('countDecrement');	
					this.notificationsData[index].read_at = 'read';


				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			markAsUnRead(notification_id,index){
				axios.get('/api/markNotificationAsUnRead/'+ notification_id +'?perspective_slug='+Perspective_Slug)
				.then(response => {

					this.notificationsData[index].read_at = null;
					Event.$emit('countIncrement');

				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			updateNotificationsList()
			{
				axios.get('/api/allNotifications?perspective_slug='+Perspective_Slug)
				.then(response => {

					console.log(response.data[0])
					this.notificationsData = response.data;
					this.updateNotificationCount();

				})
				.catch(error => {
					if (error.response.status == window.AppointmentNotify.redirectConditionalStatusCode) {
						Event.$emit('clear_cookies');
					}
				});
			},

			updateNotificationCount(){
				var unReadNotificationsCount = 0;
				for (var i = 0; i < this.notificationsData.length; i++) {
					if(!this.notificationsData[i].read_at){
						unReadNotificationsCount++;
					}
				}
				Event.$emit('setCount',unReadNotificationsCount);
			},
			classes(notification){
				if(!notification.read_at){
					return 'unread';
				}else{
					return 'read';
				}
			}
		},
		mounted(){
			setTimeout(
				() => {
					this.updateNotificationCount();
				},0);

			Event.$on('onNotification', eventData => {	
				this.updateNotificationsList();
			});
			this.updateNotificationsList();


		},
		created(){

		},
		computed: {

		}
	}

</script>

<style type="text/css">
	.modal{
		max-height: 90% !important;

	}
	.modal-content{

	}
	.modal-footer{
		border:so;
		padding-bottom: 2% !important;
	}
	.read 
	{
		background-color: #fffff2 !important;
		color:#000 !important;
	}
	.unread{
		background-color: rgba(177, 220, 251, 0.87) !important;
		color:#000 !important;
	}
	.notification_img{
		margin-top: -20px !important;
		width:20%;
	}

</style>
