<template>
	<div>
		<div class="notification right">
		</div>
		<notifications></notifications>
	</div>
</template>

<script>
	import Notifications from './Notifications.vue';
	export default {
		components:{Notifications},	
		props:[],
		data() {
			return {
				count:'',
			}
		},
		methods:{
			initializaBellNotification(){
				$('.notification').click(function () {
					$('#notification_modal').modal('open');
				});
			},
			setDataCount(){
				var el = $('.notification');
				el.removeClass('notify');
				el.attr('data-count', this.count);
				if(this.count != 0){
					el.addClass('show-count');
					el.addClass('notify');
				}
				
			},
			updateDataCount(){
				var el = $('.notification');
				el.attr('data-count', this.count);
				if(this.count != 0){
					el.addClass('show-count');
				}else{
					el.removeClass('show-count');
				}
			},

		},
		mounted(){
			this.initializaBellNotification();
			Event.$on('setCount', eventData => {
				this.count = eventData;
				this.setDataCount();
			});
			Event.$on('countDecrement', eventData => {
				if(this.count > 0)
				{
					this.count = this.count - 1;	
				}
				this.updateDataCount();
			});

			Event.$on('countIncrement', eventData => {
				this.count = this.count + 1;	
				this.updateDataCount();
			});
		},
	}
</script>


<style>

	.notification {
		cursor: pointer;
		height: 0px;
		display: inline-block;
		position: relative;
		left: 10px;
		border-radius: 0.2em;
		font-size: 1.8em;
	}

	.notification::before,
	.notification::after {
		color: #fff;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	}

	.notification::before {
		display: inline-block;
		content: "notifications";
		font-family: "Material Icons";
		transform-origin: top center;
	}

	.notification::after {
		font-family: Arial;
		font-size: 0.5em;
		font-weight: 700;
		position: absolute;
		top: 10px;
		right: -5px;
		padding: 2px 5px;
		line-height: 100%;
		border-radius: 60px;
		background: #3498db;
		opacity: 0;
		content: attr(data-count);
		opacity: 0;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		transition: transform, opacity;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	.notification.notify::before {
		-webkit-animation: ring 1s ease;
		animation: ring 1s ease;
	}

	.notification.show-count::after {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	@-webkit-keyframes ring {
		0% {
			-webkit-transform: rotate(35deg);
		}
		12.5% {
			-webkit-transform: rotate(-30deg);
		}
		25% {
			-webkit-transform: rotate(25deg);
		}
		37.5% {
			-webkit-transform: rotate(-20deg);
		}
		50% {
			-webkit-transform: rotate(15deg);
		}
		62.5% {
			-webkit-transform: rotate(-10deg);
		}
		75% {
			-webkit-transform: rotate(5deg);
		}
		100% {
			-webkit-transform: rotate(0deg);
		}
	}

	@keyframes ring {
		0% {
			-webkit-transform: rotate(35deg);
			transform: rotate(25deg);
		}
		12.5% {
			-webkit-transform: rotate(-30deg);
			transform: rotate(-20deg);
		}
		25% {
			-webkit-transform: rotate(25deg);
			transform: rotate(15deg);
		}
		37.5% {
			-webkit-transform: rotate(-20deg);
			transform: rotate(-10deg);
		}
		50% {
			-webkit-transform: rotate(15deg);
			transform: rotate(5deg);
		}
		62.5% {
			-webkit-transform: rotate(-10deg);
			transform: rotate(-0deg);
		}
		75% {
			-webkit-transform: rotate(5deg);
			transform: rotate(-5deg);
		}
		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}

	
</style>






<!-- 




	$('.notification').click(function () {
		$('#notification_modal').modal('open');
	});
	var el = document.querySelector('.notification');
	setTimeout(function(){
		var count = Number(el.getAttribute('data-count')) || 0;
		el.setAttribute('data-count', count + 1);
		el.classList.remove('notify');
		el.offsetWidth = el.offsetWidth;
		el.classList.add('notify');
		if(count === 0){
			el.classList.add('show-count');
		}
	}
	, 1000 );
	setTimeout( function(){
		var count = Number(el.getAttribute('data-count')) || 0;
		el.setAttribute('data-count', count + 1);
		el.classList.remove('notify');
		el.offsetWidth = el.offsetWidth;
		el.classList.add('notify');
		if(count === 0){
			el.classList.add('show-count');
		}
	}  , 2000 );
	setTimeout( function(){
		var count = Number(el.getAttribute('data-count')) || 0;
		el.setAttribute('data-count', count + 1);
		el.classList.remove('notify');
		el.offsetWidth = el.offsetWidth;
		el.classList.add('notify');
		if(count === 0){
			el.classList.add('show-count');
		}
	}  , 3000 );
	setTimeout( function(){
		var count = Number(el.getAttribute('data-count')) || 0;
		el.setAttribute('data-count', count + 1);
		el.classList.remove('notify');
		el.offsetWidth = el.offsetWidth;
		el.classList.add('notify');
		if(count === 0){
			el.classList.add('show-count');
		}
	}  , 4000 );

-->