<template>
    <div>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="input-field" :class="cols">
                    <i class="material-icons prefix">face</i>
                    <input id="icon_perfix1" name="first_name" type="text" class="validate" v-model='form.first_name'>
                    <label for="icon_perfix1">First Name
                        <span class="help" v-if="form.errors.has('first_name')" v-text="form.errors.get('first_name')"></span>
                    </label>
                    
                </div>
                <div class="input-field" :class="cols">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="icon_prefix2" type="text" class="validate" name="middle_name" v-model='form.middle_name'>
                    <label for="icon_prefix2">Middle Name
                        <span class="help" v-if="form.errors.has('middle_name')" v-text="form.errors.get('middle_name')"></span>
                    </label>
                    
                </div>
                <div class="input-field" :class="cols">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix3" type="text" class="validate" name="last_name" v-model='form.last_name'>
                    <label for="icon_prefix3">Last Name
                        <span class="help" v-if="form.errors.has('last_name')" v-text="form.errors.get('last_name')"></span>
                    </label>
                    
                </div>
                <div class="input-field" :class="cols">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="icon_telephone" type="tel" class="validate" name="psuedo_name" v-model='form.psuedo_name'>
                    <label for="icon_telephone">username
                        <span class="help" v-if="form.errors.has('psuedo_name')" v-text="form.errors.get('psuedo_name')"></span>
                    </label>
                    
                </div>
                <div class="input-field " :class="cols" v-show="dob">
                    <date-picker :id="'icon_telephone2'" :text="'Date of Birth'" :model="form.date_of_birth" @datepicked="onDobDatePick"></date-picker>
                    <span class="help" v-if="form.errors.has('date_of_birth')" v-text="form.errors.get('date_of_birth')"></span>
                </div>
                <div class="input-field " >
                    <div class="" style="height: auto;">
                        <p class="left">
                            <input class="with-gap right" type="radio" id="test5" v-model="form.gender" name="gender" :value="'male'">
                            <label for="test5">Male</label>
                        </p>
                        <p class="left">
                            <input class="with-gap right" type="radio" id="test8" v-model="form.gender" name="gender" :value="'female'">
                            <label for="test8">Female</label>
                        </p>
                        <p class="left">
                            <input class="with-gap right" type="radio" id="test10" name="gender" v-model="form.gender" :value="'other'">
                            <label for="test10">Other</label>
                        </p>
                        <span style="margin-top:5%;margin-left:-200px;" class="help text-red left" v-if="form.errors.has('gender')" v-text="form.errors.get('gender')"></span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import DatePicker from './DatePicker.vue';
    export default {
        props: ['form', 'cols', 'dob'],
        components: {
            DatePicker
        },
        computed: {

        },
        data() {
            return {

            }
        },
        methods: {
            onDobDatePick(data) {
                this.form.date_of_birth = data.value;
            },
            abc() {

            },


        },

        mounted() {

            this.abc();

        }
    }
</script>
