<!-- <template>
	<button type="button" class="btn waves-effect waves-light" @click="testAlert">click me</button>
</template>
-->
<script>
	export default{
		data(){
			return {
				note:'',
				savenote:{},
				description:'',
				appointment_id:''
			}
		},
		methods: {
			testAlert() {
				alert("test alert for save note");
			},
			saveNote :function (id) {
				alert(id);
				this.savenote={id:id,note:this.description}
				axios.post('/api/savenoteonpastappointment',this.savenote)
				.then((response) => {
					console.log('saved successfully');
					$('#upcoming_appointments_note').modal('close');
					this.description = '',
					console.log('saved successfully');
					Vue.toasted.show("Appointment Note Saved");
				})
			},
		}
	}
</script>