<template>

	<li class="tab col s3 ">
		<a class="waves-effect" :href="href_f" ><slot></slot></a>
	</li>
</template>
<script>
	export default {
		props:['href'],
		data() {
			return {
				href_f:this.href

			}
			
		}
	}

</script>