<template>
	<div class="card material-table">
		<div class="table-header">
			<span class="table-title">{{title}}</span>
			<div>
				<span>Rows per page:</span>
				<select class="browser-default"  @change="onTableLength">
					<option v-for="option in perPageOptions" :value="option" :selected="option == pagination.per_page">
						{{option }}
					</option>
				</select>
			</div>

		</div>
		<div v-if="searchable" >
			<div class="input-field col l7">
				<input type="search" id="search_table" name="search" v-model="searchText"  @keyup.enter="searchData" @keyup="searchData" style="margin-top:1.8%;">
				<label for="search_table" data-error="wrong"  data-success="right">Search......</label>
				<button @click.prevent="searchData" style="margin-top:2.5%;" class="btn right col l2 waves-effect"> Go</button>
			</div>
		</div>

		<table>
			<thead>
				<tr>
					<th v-for="(column, index) in columns">
						{{column.label}}
					</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="(row, index) in rows">
					<td v-for="column in columns" :class=" { numeric : column.numeric } ">
						<div v-if="!column.html"> {{ collect(row, column.field) }} </div>
						<div v-if="column.html" v-html="collect(row, column.field)"></div>	
					</td>

					<table-buttons :buttons="buttons" :data ="row" @edit="edited" @detail="detailed" @delete="deleted" @add="added">
					</table-buttons>

				</tr>
			</tbody>
		</table>
		<div class="container">
			<ul class="pagination">
				<li v-if="pagination.current_page > 1">

					<a href="#" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
					<a href="#" @click.prevent="changePage(page)">{{ page }}</a>
				</li>
				<li v-if="pagination.current_page < pagination.last_page">
					<a href="#" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>

	</div>	
</template>

<script>

	export default {
		props: {
			title:"",
			columns:{},
			api:"",
			searchable: '',
			buttons:{},
		},

		data: () => ({
			pagination: {
				total: '',
				per_page: 2,
				from: '',
				to: '',
				current_page: '',
				last_page:'',
			},
			offset: 40,
			rows: [],
			searchText:'',
			perPageOptions:[ 1, 2, 3, 5, 10, 25],
		}),

		methods: {
			testing: function(data) {
				alert(data);
			},

			dig: function(obj, selector) {
				var result = obj;
				const splitter = selector.split('.');
				for (let i = 0; i < splitter.length; i++){
					if (result == undefined){
						return undefined;
					}
					result = result[splitter[i]];
				}
				return result;
			},

			collect: function(obj, field) {
				if (typeof(field) === 'function'){
					return field(obj);
				}
				else if (typeof(field) === 'string'){
					return this.dig(obj, field);
				}
				else{
					return undefined;
				}
			},
			fetchData:function(page){
				axios.get(this.api + '?page=' + page+'&per_page=' + this.pagination.per_page +'&query=' + this.searchText)
				.then(response => {
					console.log(response.data);
					this.rows = response.data.data;
					this.pagination.total = response.data.total;
					this.pagination.per_page = response.data.per_page;
					this.pagination.from = response.data.from;
					this.pagination.to = response.data.to;
					this.pagination.current_page = response.data.current_page;
					this.pagination.last_page = response.data.last_page;
				})
				.catch(error => {
					console.log(error);
				});
			},
			changePage: function (page) {
				this.pagination.current_page = page;
				this.fetchData(page);
			},
			onTableLength: function(e) {
				this.pagination.per_page = e.target.value;
				
				this.fetchData(this.pagination.current_page);	
				
				
			},
			searchData:function(){
				this.fetchData('1');
			},

			edited: function (data) {
				this.$emit('edited',data);
			},

			detailed: function (data) {
				this.$emit('detailed',data);
			},

			deleted: function (data) {
				this.$emit('deleted',data);
			},

			added:function(data) {
				this.$emit('added',data);
			}


		},

		mounted: function() {
			this.fetchData(1);
		},

		computed: {
			isActived: function () {
				return this.pagination.current_page;
			},
			pagesNumber: function () {
				if (!this.pagination.to) {
					return [];
				}
				var from = this.pagination.current_page - this.offset;
				if (from < 1) {
					from = 1;
				}
				var to = from + (this.offset * 2);
				if (to >= this.pagination.last_page) {
					to = this.pagination.last_page;
				}
				var pagesArray = [];

				while (from <= to) {
					pagesArray.push(from);
					from++;
				}
				if (to <= 1) {
					pagesArray=[];
				}
				return pagesArray;
			}
		},
	}
</script>

<style scoped>
	div.material-table {
		padding: 0;
	}

	tr.clickable {
		cursor: pointer;
	}

	#search-input {
		margin: 0;
		border: transparent 0 !important;
		height: 48px;
		color: rgba(0, 0, 0, .84);
	}

	#search-input-container {
		padding: 0 14px 0 24px;
		border-bottom: solid 1px #DDDDDD;
	}

	table {
		table-layout: fixed;
	}

	.table-header {
		height: 64px;
		padding-left: 24px;
		padding-right: 14px;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: flex;
		-webkit-display: flex;
		border-bottom: solid 1px #DDDDDD;
	}

	.table-header .actions {
		display: -webkit-flex;
		margin-left: auto;
	}

	.table-header .btn-flat {
		min-width: 36px;
		padding: 0 8px;
	}

	.table-header input {
		margin: 0;
		height: auto;
	}

	.table-header i {
		color: rgba(0, 0, 0, 0.54);
		font-size: 24px;
	}

	.table-footer {
		height: 56px;
		padding-left: 24px;
		padding-right: 14px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		-webkit-align-items: center;
		align-items: center;
		font-size: 12px !important;
		color: rgba(0, 0, 0, 0.54);
	}

	.table-footer .datatable-length {
		display: -webkit-flex;
		display: flex;
	}

	.table-footer .datatable-length select {
		outline: none;
	}

	.table-footer label {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.54);
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		/* works with row or column */

		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.table-footer .select-wrapper {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		/* works with row or column */

		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.table-footer .datatable-info,
	.table-footer .datatable-length {
		margin-right: 32px;
	}

	.table-footer .material-pagination {
		display: flex;
		-webkit-display: flex;
		margin: 0;
	}

	.table-footer .material-pagination li a {
		color: rgba(0, 0, 0, 0.54);
		padding: 0 8px;
		font-size: 24px;
	}

	.table-footer .select-wrapper input.select-dropdown {
		margin: 0;
		border-bottom: none;
		height: auto;
		line-height: normal;
		font-size: 12px;
		width: 40px;
		text-align: right;
	}

	.table-footer select {
		background-color: transparent;
		width: auto;
		padding: 0;
		border: 0;
		border-radius: 0;
		height: auto;
		margin-left: 20px;
	}

	.table-title {
		font-size: 20px;
		color: #000;
	}

	table tr td {
		padding: 0 0 0 56px;
		height: 48px;
		font-size: 13px;
		color: rgba(0, 0, 0, 0.87);
		border-bottom: solid 1px #DDDDDD;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	table td, table th {
		border-radius: 0;
	}

	table tr td a {
		color: inherit;
	}

	table tr td a i {
		font-size: 18px;
		color: rgba(0, 0, 0, 0.54);
	}

	table tr {
		font-size: 12px;
	}

	table th {
		font-size: 12px;
		font-weight: 500;
		color: #757575;
		cursor: pointer;
		white-space: nowrap;
		padding: 0;
		height: 56px;
		padding-left: 56px;
		vertical-align: middle;
		outline: none !important;

		overflow: hidden;
		text-overflow: ellipsis;
	}

	table th:hover {
		overflow: visible;
		text-overflow: initial;
	}

	table th.sorting-asc,
	table th.sorting-desc {
		color: rgba(0, 0, 0, 0.87);
	}

	table th.sorting:after,
	table th.sorting-asc:after  {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 16px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		word-wrap: normal;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
		content: "arrow_back";
		-webkit-transform: rotate(90deg);
		display: none;
		vertical-align: middle;
	}

	table th.sorting:hover:after,
	table th.sorting-asc:after,
	table th.sorting-desc:after {
		display: inline-block;
	}

	table th.sorting-desc:after {
		content: "arrow_forward";
	}

	table tbody tr:hover {
		background-color: #EEE;
	}

	table th:last-child,
	table td:last-child {
		padding-right: 14px;
	}

	table th:first-child, table td:first-child {
		padding-left: 24px;
	}
</style>