<template>
    <div>
        <label for="id">{{text}} :</label>
        <input :id="id" type="text" v-model="model" placeholder="Pick a time">
    </div>
</template>
<script>
    export default {
        props: {
            id:'',
            text:'',
            index:'',
            model:'',
        },
        data:() => ({
            dataField:this.model,
        }),
        methods:{
            initializeTimePicker() {
                var self = this;
                $('#'+this.id).pickatime({
                    default: '9:00',     
                    fromnow: 0,   
                    twelvehour: true, 
                    donetext: 'OK', 
                    cleartext: 'Clear',  
                    canceltext: 'Cancel',  
                    autoclose: true, 
                    ampmclickable: true, 
                }).on('change', function() {
                    var time = $(this).val();
                    
                    self.dataField = time;
                    var data = {'index':self.index,'type':self.text,'value':time};
                    self.$emit('timepicked',data);
                });    
            },
        },
        mounted() {
            this.initializeTimePicker();
            Event.$on('reset_field', eventData => {
                $('#'+this.id).val("");
            });
        }

    }
</script>