<template>
    <div>
        <ul class="collapsible" data-collapsible="accordion">
            <li v-for="(day, index) in timeTable.data">
                <div class="collapsible-header">
                    <span>
                        <input type="checkbox" name="checkedBox[]" :checked="checkBoxStatus(index)" :id="day.day + '_day_time'" @change = "toggleCheckbox(index,$event)"/>
                        <label :for="day.day + '_day_time'"></label>{{stringConversion(day.day)}}
                        <span v-if="day.time_from && day.time_from">(  {{day.time_from}} to {{day.time_to}}  )</span>
                    </span>
                </div>
                <div class="collapsible-body">
                    <div class="panel-body" >
                        <time-picker :id="day.day + '_day_time_picker_from'" :text="'From'" @timepicked="setTimeFieldData" :index='index' :model= "day.time_from" ></time-picker>
                        <time-picker :id="day.day + '_day_time_picker_to'" :text="'To'" @timepicked="setTimeFieldData" :index='index' :model= "day.time_to"></time-picker>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: [
        'timeTable',
        ],
        data:() => ({
            checkBoxes:[],
        }),
        computed: {           

        },
        methods: {
            stringConversion(str) {
                return str.split('_').map(function (item) {
                    return item.charAt(0).toUpperCase() + item.substring(1);
                }).join(' ');
            },
            checkBoxStatus(index) {
                if ( 'time_to' in this.timeTable.data[index] && 'time_from' in this.timeTable.data[index]) {
                    return this.checkBoxes[index] = true;       
                } 
                else {
                    return this.checkBoxes[index] = false;
                }  
            },
            toggleCheckbox(index,event) {
                this.checkBoxes[index] = event.target.checked;
            },
            setTimeFieldData(data) {
                if (data.type == 'From') {
                    this.timeTable.data[data.index].time_from = data.value; 
                } else {
                    this.timeTable.data[data.index].time_to = data.value;
                }
            }
        },
        mounted() {
            this.timeTable.selected = this.checkBoxes;
        }
    }
</script>
