<template>
    <div class="row">
        <div class="input-field col s4">
            <!--   <select id="state_postal" class="browser-default" v-model="state_id">
                <option value="" disabled selected>Select State</option>
                <option v-for="state in states" :value="state.id" v-text="state.postal_code">
                </option>
            </select> -->
            Lat:
            <input id="lat" type="text" name="lat" v-model="lat" /> Long:
            <input id="long" type="text" name="long" v-model="long" />
        </div>
        <button @click="getZipCode">Get Zip Code</button>
    </div>
</template>
<script>
export default {
    /* 
    components: {

    },
    */
    computed: {

    },
    data() {
        return {
            lat: '',
            long: '',
            states: [],
            /* form: new Form({ address_line_1: '', address_line_2: '', city_name: '', country_id: '', state_id: '', zip_code: '' }, false)
             */
        }
    },
    methods: {
        getZipCode() {

            var lat = '40.714224';
            var lng = '-73.961452';
            var GEO_ZIP_URL = 'http://api.geonames.org/findNearbyPostalCodesJSON?lat=' + lat + '&lng=' + lng + '&username=appointmentnotify';
            var url = '/admin/getZipCodeByLatLong5';
            //    alert('hello zip');
            axios.get(url)
                .then(response => {
                    console.log('zip success : ' + response.data);
                    alert('then');
                })
                .catch(errors => {
                    console.log('zip error : ' + JSON.stringify(errors));
                    alert('catch');
                });


        },


    },

    mounted() {



    }
}
</script>
