<div class='row confirmation_header' style=''>
	<div class="col s2 valign-wrapper" style="height: 70px; ">
		<i class=" material-icons right">warning
		</i>	
	</div>
	<div class="col s8 center-align">
		<h4 >Confirmation!</h4>
	</div>

</div>