/* Rounded tabs scss override */
.tabs .tab a {
    padding: 0 14px !important;
    font-size: 12px !important;
    
}

/* Buttons scss override */
.btn, .btn-large, .btn-flat {
    padding: 0 .5rem !important;
}



/* context help */

.context-help{
	margin-bottom: 2%;
}




.appointments_main-tabs{
.indicator{
		
		box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
		background-color: $secondary-color !important; 
		height: 49px !important;
		border-radius: 4px;
		cursor: pointer;
		position: absolute;
		z-index: 1;

	}
}
	.appointments_main-tabs .tab a:hover{
		background-color:  $fourth-color;
		color: $primary-text-color;
	}
	.appointments_main-tabs .tab a.active{
		position: relative;
		z-index: 100;
		color: $secondary-text-color !important;
	}
	.appointments_main-tabs .tab a{
		background-color: $inactive-color;
		color: $primary-text-color;
		// border-radius: 4px; 
	}
	.tabs-vertical .tabs
	{
		background: $fifth-color !important;
		height: auto;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column; 
	}
	.tabs-vertical .tab 
	{
		// border: solid $inactive-color;
		margin-bottom: 8px !important;
		border-radius: 4px; 
		width: 100%;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		display: block;
		float: left;
		text-align: left;
		line-height: 48px;
		height: 48px;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
		text-overflow: ellipsis;
	}

	.tabs-vertical .tab .active 
	{   
		box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
		background-color: $secondary-color !important;
		border-radius: 4px;
		color: $secondary-text-color !important;
		-moz-transition: border-color .5s ease;
		-o-transition: border-color .5s ease;
		-webkit-transition: border-color .5s ease;
		transition: border-color .5s ease;
		/*border-right: 3px solid #7280ce;*/
		/*color: #3f51b5;*/

	}
	.tabs-vertical .tab a 
	{
		background-color: $inactive-color;
		color: $primary-text-color;
		border-radius: 4px; 
		display: block;
		width: 100%;
		height: 100%;

		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-transition: color 0.28s ease;
		-moz-transition: color 0.28s ease;
		-o-transition: color 0.28s ease;
		-ms-transition: color 0.28s ease;
		transition: color 0.28s ease; 
	}
	.tabs-vertical .tab a:hover
	{    
		background-color: $fourth-color;
		color: $primary-text-color;

	}
	.tabs-vertical .tab.disabled a {
		color: #8591d5;
		cursor: default;
	}
	.tabs-vertical .indicator {
		display: none;
	}


	.help-text:hover{

     -webkit-box-shadow: 0px 0px 70px -9px rgba(122,145,139,1);
     -moz-box-shadow: 0px 0px 70px -9px rgba(122,145,139,1);
     box-shadow: 0px 0px 70px -9px rgba(122,145,139,1);
 }
	