
$primary-color: #00bd86;
$secondary-color: color("teal", "lighten-1");
$third-color:#fff;
$fourth-color: rgba(0,0,0,0.2);
$fifth-color: #FcFcFc;
// $fifth-color: #F9FAFC;
$primary-text-color:#000;
$secondary-text-color:#fff;
$inactive-color:#eee;
// #F5F8FA

// $an-color3:;
// $an-color4:;
// $an-color5:;
// $an-color6:;


// #009688
// #00bfa5
// #00bd86
// #26a69a
// #00897b
// #00796b
// #00695c
// #004d40
// #a7ffeb
// #64ffda
// #1de9b6
