nav.nav-extended
{
	height: 64px !important;
}
.nav_row
{
	margin-bottom: -20px !important;
	padding-bottom: 0px !important;
}
.brand-logo img
{
	width: auto;
	height: 50px;
	vertical-align: middle;
}
nav .input-field
{
	height: auto !important;
}
.nav_chip
{
	background-color: #fff !important;
	margin-top: 15px;
}
.user-view a img
{
	width: auto;
	height: 80px;
	vertical-align: middle;
}
#main_user_dropdown
{
	width: 202.70px !important;
	top: 67px !important;
}#main_user_dropdown li a i
{
	color: $secondary-color;
}
#mobile-demo .chip
{
	margin-left: 10px;
}
#sidebar_user_dropdown
{
	left: 50px !important;
	width: 210px !important;
	top: 150px !important;	
}
.chip > img
{
	// border: solid;
	margin-top: -10px !important;
	margin-left: -15px !important;
	height: 50px !important;
	width: 50px !important;
}

.main_tabs_ul
{
	padding: 5px 5px 5px 5px !important;
	// border: solid red;
	height: auto !important;
	background-color: $secondary-text-color	 !important;
}
.main_tabs_li.tab
{
	// border: solid red;
	background-color: $inactive-color;
	border-radius: 30px;
	color: $secondary-text-color;
    // transition: background-color .3s;
    // transition-property: background-color;
    // transition-duration: 0.3s;
    // transition-timing-function: initial;
    // transition-delay: initial;
}
.main_tabs_li.tab:hover
{
	background-color: $fourth-color;
	// background-color: #eee;
}
.main_tabs_li.tab a
{
	border-radius: 30px;
	color: $primary-text-color !important;
}
.main_tabs_li.tab a.active,
.main_tabs_li> .active,
.main_tabs_li> .active:focus,
.main_tabs_li> .active:hover

{   color:$secondary-text-color!important;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
	background-color: $secondary-color !important;
}
.main_tabs_ul .indicator
{
	display: none !important;
}