@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$gray: #92959E;

.messages-container {
  // margin: 0 auto;
  // width: 750px;
  border-radius: 5px;
}

.people-list {
  // width: 260px;
  // float: left;

  .search {
    padding: 20px 20px 0px 20px;
    
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }
.chat-time{
  font-size: 10px !important;
}
  ul {
    // padding: 0px 20px 20px 20px;
    // height: 770px;

    li {
      padding: 2%;
      .row
      {
           margin-bottom: 0px !important;
           cursor: pointer;
        
      }
    }
  }

  img {
    float: left;
    height: 40px !important ;
    width: 40px !important;
    border-radius: 50% !important;
  }

  .about {
    float: left;
    // margin-top: 8px;
  }

  .about {
    // padding-left: 8px;
  }

  .status {
    color: $gray;
  }
}

.chat {
  // width: 490px;
  // float: left;
 background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
   
    background-color: $primary-color !important;
    color: white;
    border-bottom: 2px solid white;

    img {
       
       height: 40px !important ;
       width: 40px !important;
    border-radius: 50% !important;
    }

    .chat-about {
     
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 15px 15px 10px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
      font-size: 10px !important;
    }

    .message {
      color: white;
      padding: 8px 20px;
      line-height: 20px;
      font-size: 12px;
      border-radius: 27px;
      margin-bottom: 8px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $primary-color;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $primary-color;
    }

    .other-message {
      background: $secondary-color;

      &:after {
        border-bottom-color: $secondary-color;
        left: 93%;
      }
    }
  }

  .chat-message {
    

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
    }

    button {
      float: right;
      color: $secondary-color;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($secondary-color, 7%);
      }
    }
  }
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $primary-color;
}

// .offline {
//   color: $orange;
// }

.me {
  color: $secondary-color;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
