.modal .fade
{
    overflow: hidden !important;
    max-height: 100%;
    background-color: transparent;
    box-shadow: none;
}
.modal .modal-body 
{
    height: 435px;
    overflow-y:scroll;
}
.modal-footer .btn+.btn
{
    margin: 0px !important;
}
.materialize_modal .modal-content
{
  padding: 0px 0px 0px 0px !important;
}
.materialize_modal
{
  top: 5% !important;
  max-height:100% !important;
}
.materialize_modal_header
{
  border-radius: 2px;
  padding: 5px 5px;
  background-color: $primary-color;
}
.materialize_modal_header h5
{
  // margin: 0.4rem 0 0.656rem 0;
  color: $secondary-text-color;  
} 
.materialize_modal_header h6,
.materialize_modal_header span
{
  color: $secondary-text-color;
}
.materialize_modal_header img,
img.responsive-img
{
  // margin-left: 7px;
  max-width: 69px !important;
  width: 69px !important;
  height:69px !important;
  // vertical-align: middle;
}
.materialize_modal_body
{
  padding: 5px;
  margin-bottom: 0px !important;
}
.materialize_modal_body .row
{
  margin-bottom: 0px !important;
}
.modal-footer-row
{
  padding: 0px 6px;
}
.large_modal{
  width: 80% !important;
}



