#notification_modal
{
	right: 0 !important;
	width: 30%;
	height: 100%;
	left: inherit;
	max-height: 100%;
	top: 0 !important;
	overflow-y: hidden;
}
// notification modal inner styles
#notification_modal .notification_modal_header
{
	top: 0px;
	padding: 0px;	
}
#notification_modal .notification_modal_content
{
	padding: 0% 0% 13% 0%;
	margin-top: 18%;
	background-color: $third-color;
}
#notification_tab, #announcements_tab
{
	padding: 0px;
}
#notification_modal .feature_header,
#notification_modal .feature_header .main_tabs_ul
{
	background-color: $fifth-color !important;
}
#notification_modal .notification_modal_content .unread_notification
{
	background-color: $inactive-color;
}
#notification_modal .notification_modal_content .secondary-content
{
	color: $third-color;
}