th{
	text-align: center !important;
}
.selected_facility {
    background-color: $inactive-color;
}
.selected_doctor {
    background-color: $inactive-color ;
}
.selected_patient{
		background-color: $inactive-color;
	}
	
td, th {
    padding: 5px 2px !important; 
    
}
