
$fa-font-path:   "../public/fonts/font-awesome/" !default;

// $roboto-font-path: '../public/fonts/';
// $roboto-font-path: '../public/fonts/materialize-css/roboto/';
// $bimgebody : url(../images/common/b_imge1.jpg);
// /* fallback */
// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
// }

*,body,html{
  // color:$primary-text-color;
}
a > .material-icons{
  color:$third-color;
}
body{
  background-color: $third-color !important; 
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

$fa-font-path: '../public/fonts/*';



.main_container

{
  
  background-color: $fifth-color;
}

