
//color library
@import "node_modules/materialize-css/sass/components/color";
@import "../common/color";

//variables library
@import "node_modules/materialize-css/sass/components/variables";
@import "../common/variables";

// materialize library
@import "node_modules/materialize-css/sass/materialize";

// all scss files
@import "../common/header";
@import "../common/modal";
@import "../common/notificationBell";
@import "../common/notificationModal";
@import "../common/_sass-mixins";


html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
* , button , a
{
    font-family: 'Nunito', sans-serif;
}
/*** Font and Scrollbar Css Start ***/
div::-webkit-scrollbar,
body::-webkit-scrollbar
{
  width: 0.5em;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: $primary-color;
  outline: 2px solid slategrey;
}

div::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal
{
  display: none;
}

.content {
  flex: 1 0 auto;
}
.main_container{
    // margin: 3% !important;
    padding: 0% 1% !important;
}

@media only screen and (min-width: 993px)
  {
    .container {
       width: 90% !important;
  }
}
@media only screen and (min-width: 601px)
  {
    .container {
       width: 90% !important;
  }
}

.hide
{
  display: none;
}
h1.header
{
  margin: 0px;
}





/* search cross sign scss override */
.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
   margin-top:-10px !important;
   font-size: 1rem !important;
    
}

/* without pagination modals height and scrolling */
.without-pagination{
  height: 490px;overflow: auto;
}

.footer{
	background-color: $primary-color;
}
.table_avatar
{
	width: 45px;
	height: 45px;
}
.user_img_div
{
	cursor: pointer;
}
.user_img_div img
{
	width: 150px;
	height: 150px;
}
.table_avatar
{
  width: 40px;
  height: 40px;
}
.table_image
{
  width: 45px;
  height: 45px;
}

.help
{
  color: red;
}
.feature_header{
  margin-top: .5%;
  padding-left: 1.2%;
}
.inner_tab_col{
  padding: 0px !important;
  margin: 0px !important;
}
.main-tab_content{
 margin-top: .7%;
}
.modal_card_img
{
  // margin: 5px;
  height: 200px;
  // width: 20%;
  // border-right: solid;
  padding: 10px 15px;
}
.doc_info_card_content
{
  padding: 10px !important;
}
.fixed-action-btn{
  bottom: 60px !important;
}
.modal_size{
  width: 40% !important;
}
@media (min-height: 28.875em)
{
  .picker__wrap {
    display: inline-table !important;
  }
}
.calendar_appointment_btn
{
  cursor: pointer;
}

.sweet-alert{
  padding:0px !important;
  padding-bottom: 1% !important;
  border-radius:0px !important;
}
.confirmation_header{
  border:solid $primary-color ;
  margin-top:-25px;
  background-color:$primary-color ;
  color:$third-color;
}


#animation{
  height: 200px; width: 200px;
  padding: 5%;
  text-align: center;
  display: none;
  border-radius: 5px;
  transition:5s;
   -webkit-animation: moveDiv 5s infinite; /* Safari 4+ */
  -moz-animation:    moveDiv 5s infinite; /* Fx 5+ */
  -o-animation:      moveDiv 5s infinite; /* Opera 12+ */
  animation:         moveDiv 5s infinite; /* IE 10+, Fx 29+ */
}
#animation:target{
  position: relative;
 
  display: block;
   transition:5s;

}
@-webkit-keyframes moveDiv {
  0%   { 

   }
  
}
// @-moz-keyframes moveDiv {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-o-keyframes moveDiv {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
@keyframes moveDiv {
  
  10%{
    display: block;
    left: -200px;
    z-index: -1;
  }
  100% { display: block;
    left: 200px;
    z-index: 1; }
}





@import "../auth/login&register";
// @import "../auth/wizard";
@import "../common/appointments_tab";
@import "../common/tables";
// @import "../common/select";
@import "../common/_messaging"; 