

<template>
    <div class="autocomplete">
        <label for="icon_prefix3">{{text}}</label>
        <input id="icon_prefix3" class="form-control" type = 'text' v-model="selection"
        @input = 'change' autofocus="focus" 
        />
        <div v-if="open && matches.length" class="autocomplete-list" >
            <div class="autocomplete-list-item" v-for="suggestion in matches" @click="suggestionClick(suggestion)">
                <div :is="componentSuggestion" :suggestion="suggestion"></div>
            </div>
        </div>
    </div>
</template>




<script>
    import Suggestion from './Suggestion.vue';
    export default {

        data() {
            return {
                open: false,
                selection: '',
                suggestions:[],
            }
        },
        props: {
            componentSuggestion: { default: () => Suggestion },
            bindValue: '',
            apiUrl:{
                type: String,
                default: ''
            },
            maxLen:{default:2},
            timeout: null,
            suggestionData: {
                type: Array
            },
            matches:{type:Array},
            autoComplete:{
                type: Boolean,
                default: false
            },
            getLabel: {
                type: Function,
                default: suggestion => suggestion
            },
            reset: {
                type: Boolean,
                default: false
            },
            text:{
                type: String,  
            },
            focus:{
                type: Boolean,
                default: false  
            } 
        },

        methods: {
            change() {
                if (this.autoComplete) 
                {
                    this.matches = this.updateMatchesList(this.selection,this.suggestions);
                    this.callUpdateItems(this.selection, this.updateSuggestion);
                    if (this.open == false) {
                        this.open = true;
                    }
                    if (this.open == true && this.selection == '') 
                    {
                        this.open = false;
                    }    
                }
                else{
                    this.$emit('selected-suggestion', this.selection);
                }

            },
            updateSuggestion() {
                this.$emit('cross-max-len', this.selection);
            },
            suggestionClick(suggestion) {
                this.selection = this.getLabel(suggestion).display;
                this.bindValue = this.getLabel(suggestion).bind;
                this.$emit('selected-suggestion', this.bindValue)
                this.open = false;
            },

            updateMatchesList(text,items) {
                var matcheItems = [];
                var flag=true;
                for(var i=0; i<items.length; i++) {
                    flag=true;
                    for(var key in items[i]) {
                        if (flag) 
                        {
                            var val = items[i][key];     
                            if(typeof val === 'string' || val instanceof String)
                            {
                                if( val.toLowerCase().indexOf(text.toLowerCase()) >= 0){
                                    matcheItems.push(items[i]);  
                                    flag=false;
                                }
                            }              
                        }
                    }
                }
                return matcheItems;
            },
            forEditPerspective() {
                if (this.bindValue != '') {
                    this.matches= this.updateMatchesListById(this.bindValue,this.suggestions);
                }
            },

            updateMatchesListById(field,items) {

                var matcheItems = [];
                for(var i=0; i<items.length; i++) {
                    if(items[i].id == field)
                    {
                        matcheItems.push(items[i]);
                        this.suggestionClick(items[i]); 
                        break; 
                    }
                }
                return matcheItems;
            },
            callUpdateItems (text, cb) {
                clearTimeout(this.timeout)
                if (this.isUpdateItems(text)) {
                    this.timeout = setTimeout(cb, this.wait)
                }

            },
            isUpdateItems (text) {
                if (text.length > this.maxLen) {
                    return true
                }

            },
            fetchSuggestions() {
                if(this.suggestionData)
                {
                    this.suggestions = this.suggestionData;
                }

                if ( this.suggestions.length == 0 || this.suggestions === undefined) 
                {
                    axios.get(this.apiUrl)
                    .then(response => {
                        this.suggestions = response.data;
                        this.forEditPerspective();
                    })
                    .catch(error => {
                        console.log(error);
                    });    
                }
            }
        },

        mounted(){
            this.fetchSuggestions();
            this.forEditPerspective();
        },
        watch:{
            bindValue(newValue){
                this.forEditPerspective();
            },
            reset (newValue) {
                console.log(newValue);
            }
        }
    }
</script>



<style>
    .autocomplete {
        position: relative;
    }
    .autocomplete .autocomplete-list {
        position: absolute;
        background-color: gray;
        width: 100%; 
    }
    .autocomplete .autocomplete-list .autocomplete-list-item {
        cursor: pointer;
    }
</style>



<!-- 
    <template>
        <div style="position:relative">
            <input class="form-control" type="text" v-model="selection"
            @input = 'change'
            />
            <ul v-show="open" style="width:100%">
                <li v-for="(suggestion, index) in matches"
                @click="suggestionClick(index)"
                >
                <a href="#">{{ suggestion }}</a>
            </li>
        </ul>
    </div>
</div>
</template> -->