// #auth-background{
//     background-image:$bimgebody;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: 100%;

// }


.form-top-right{
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    line-height: 100px;
    text-align: right;

}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.logo-text{
    background-color: $primary-color;
    
    padding: 3%;
    border-radius:4px;
    margin-bottom: 4%;
    margin-top: -4%;
    h5 ,i{
color: $secondary-text-color !important;
    }
}
.form-col{border-radius:4px;    
}
.person_add_icon{
    margin-right: 6%;
}
.auth_main{
    margin-top: 5%;
}
.validation_error{
    background-color: $primary-color;
    text-align: center;
    p{text-align: center;
        color: $secondary-text-color;
    }
}